<div class="bTitle">{{curBrand.tBrandName}}</div>
<div class="brangGray">
    <mat-icon>flight_land</mat-icon>
    <span>Going Positive</span>
</div>
<div class="brangGray">
    <mat-icon>watch_later</mat-icon>
    <span>Delayed by 10%</span>
</div>
<div class="brandSeparator"></div>
<div class="brandBottom">
    <div class="bbleft">
        <span class="lbl">IT PM</span>
        <span>
            <mat-icon>person</mat-icon>
            <mat-icon>person</mat-icon>
            <mat-icon>person</mat-icon>
        </span>
    </div>
    <div class="bbleft">
        <span class="lbl">Progress</span>
        <span>
            20%
        </span>
    </div>

</div>