<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="sideNav" mode="side" opened="true">
        <div class="logoPart">
            <div>
                <img src="https://order.sonicdrivein.com/icons/sonic_logo.svg">
            </div>
        </div>
        <div class="menuPart">
            <button mat-button [matMenuTriggerFor]="menu" *ngIf="access.hasAccess('home.sonic.newproject', 1)"><mat-icon>add</mat-icon>New Project</button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="menuClick('newstore', 'all', 'New');">New Store</button>
                <button mat-menu-item (click)="menuClick('newproject', 'all','Remodel');">Remodel Store</button>
                <button mat-menu-item (click)="menuClick('newproject', 'all','Rebuild');">Rebuild Store</button>
                <button mat-menu-item (click)="menuClick('newproject', 'all','Relocation');">Relocation</button>
                <button mat-menu-item (click)="menuClick('newproject', 'all','Acquisition');">Acquisition</button>
                <button mat-menu-item (click)="menuClick('newproject', 'pos', 'POSInstallation');">POS Installation</button>
                <button mat-menu-item (click)="menuClick('newproject', 'audio', 'AudioInstallation');">Audio Installation</button>
                <button mat-menu-item  (click)="menuClick('newproject', 'menu', 'MenuInstallation');">Menu Installation</button>
                <button mat-menu-item (click)="menuClick('newproject', 'payment', 'PaymentTerminalInstallation');">Payment Terminal Installation</button>
                <button mat-menu-item (click)="menuClick('newproject', 'all', 'PartsReplacement');">Parts Replacement</button>
            </mat-menu>
            <button mat-button *ngIf="access.hasAccess('home.sonic.searchproject', 1)" (click)="menuClick('search')"><mat-icon>search</mat-icon>Search Project</button>
            <button mat-button *ngIf="access.hasAccess('home.sonic.importproject', 1)" (click)="menuClick('importproject')"><mat-icon>attach_file</mat-icon>Import Project</button>
        </div>
        <div class="ConfigList tabSelectionOption">
            <span (click)="clickOption('dashboard')" [className]="configMenu=='dashboard'?'selected':''">Sonic Homepage</span>
            <span (click)="clickOption('Project Portfolio')"  *ngIf="access.hasAccess('home.sonic.projectportfolio', 0)" [className]="configMenu=='Project Portfolio'?'selected':''">Project Portfolio</span>
            <span (click)="clickOption('Report Generator')"  *ngIf="access.hasAccess('home.sonic.reportgenerator', 1)" [className]="configMenu=='Report Generator'?'selected':''">Report Generator</span>
            <span (click)="clickOption('Saved Reports')"  *ngIf="access.hasAccess('home.sonic.report', 0)" [className]="configMenu=='Saved Reports'?'selected':''">Saved Reports</span>
        </div>
    </mat-drawer>
    <div class="sideNavContent">
        <span [ngClass]="drawer.opened ? 'toggleIcon opened' : 'toggleIcon'" (click)="drawer.toggle()">
            <mat-icon>play_arrow</mat-icon>
        </span>
        <app-sonic-dashboard *ngIf="showMode == 'dashboard'" (SearchedResult)="SearchedResult($event)"></app-sonic-dashboard>
        <app-new-store *ngIf="showMode == 'newstore'" (ChangeView)="ChangeView($event)" [ProjectParam]="{ ProjectType: projectType, TechCompType: techCompType}"></app-new-store>
        <app-new-project *ngIf="showMode == 'newproject'" (ChangeView)="ChangeView($event)" [ProjectParam]="{ ProjectType: projectType, TechCompType: techCompType}"></app-new-project>
        <app-store-view *ngIf="showMode == 'storeview'" (ChangeFromStoreView)="ChangeFromStoreView($event)" [curStore]="curStore"></app-store-view>
        <app-project-table *ngIf="showMode == 'projectactiveview'" [tabName]="'Active'" (ChangeView)="ChangeView($event)" [curStore]="curStore"></app-project-table>
        <app-project-table *ngIf="showMode == 'projecthistoricalview'" [tabName]="'Historical'" (ChangeView)="ChangeView($event)" [curStore]="curStore"></app-project-table>
        <app-import-projects *ngIf="showMode == 'importproject'" (ChangeView)="ChangeView($event)"></app-import-projects>
        <app-pos-installation *ngIf="showMode == 'posinstallation'" (ChangeView)="ChangeView($event)"></app-pos-installation>   
        <app-payment-terminal-installation *ngIf="showMode == 'paymentterminalinstllation'" (ChangeView)="ChangeView($event)"></app-payment-terminal-installation>     
        <app-menu-installation *ngIf="showMode == 'menuinstallation'" (ChangeView)="ChangeView($event)"></app-menu-installation>
        <app-audio-installation *ngIf="showMode == 'audioinstallation'" (ChangeView)="ChangeView($event)"></app-audio-installation>
        <app-project-template-list *ngIf="showMode == 'projecttemplatelist'" (BackToStoreView)="BackToStoreView($event)" [curStore]="curStore"></app-project-template-list>
        <app-project-portfolio *ngIf="showMode == 'Project Portfolio'" (BackToStoreView)="BackToStoreView($event)"></app-project-portfolio>        

        <app-not-implemented *ngIf="showMode != 'Project Portfolio' && showMode != 'projecttemplatelist' && showMode != 'newproject' && showMode != 'menuinstallation' && 
        showMode != 'audioinstallation' && showMode != 'paymentterminalinstllation' && showMode != 'posinstallation' && showMode != 'importproject' && 
        showMode != 'newstore' && showMode != 'dashboard' && showMode != 'storeview' && showMode != 'projecthistoricalview' && showMode != 'projectactiveview'"></app-not-implemented>
    </div>
</mat-drawer-container>