<div class="outer">
    <table>
        <thead>
            <th>Store Number</th>
            <th>File Name</th>
            <th>Sent By</th>
            <th>Sent On</th>
        </thead>
        <tbody>
            <tr *ngFor="let item of allStatus">
                <td>
                    {{item.tStoreNumber}}
                </td>
                <td (click)="DownloadItem(item)" class="fileName" matTooltip="Click to download">
                    {{item.tFileName}}
                </td>
                <td>
                    {{item.tSentBy}}
                </td>
                <td>
                    {{getFormateDate(item.dtCreatedOn)}}
                </td>
            </tr>
        </tbody>
    </table>
</div>