<mat-form-field class="searchField">
    <mat-label>Search Store Id, Project Type, Store Number</mat-label>
    <input type="text" placeholder="Search Store" aria-label="Number" matInput [formControl]="myControl"
        [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)='projectSelect($event)'>
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{"Store Name:" + option.tStoreName + ", Project Name:" + option.tProjectName + ", Store Number:" +
            option.tStoreNumber}}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>