<h2 mat-dialog-title class="header">Support Page</h2>
<mat-dialog-content *ngIf="init">
    <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Status or Content or Comment" #input>
    </mat-form-field>
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
            class="mat-elevation-z8">

            <!-- Position Column -->
            <ng-container matColumnDef="aTicketId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
                    TicketId.
                </th>
                <td mat-cell *matCellDef="let element"> {{element.aTicketId}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="nPriority">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
                    Priority
                </th>
                <td mat-cell *matCellDef="let element"> {{getPriority(element.nPriority)}} </td>
            </ng-container>

            <ng-container matColumnDef="tTicketStatus">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
                    Status
                </th>
                <td mat-cell *matCellDef="let element"> {{element.tTicketStatus}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="tContent">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by weight">
                    Content
                </th>
                <td mat-cell *matCellDef="let element"> {{element.tContent}} </td>
            </ng-container>

            <ng-container matColumnDef="tFixComment">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by weight">
                    Fix Comment
                </th>
                <td mat-cell *matCellDef="let element"> {{element.tFixComment}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="tCreatedBy">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol">
                    Created By
                </th>
                <td mat-cell *matCellDef="let element"> {{element.tCreatedBy}} </td>
            </ng-container>

            <ng-container matColumnDef="dtCreatedOn">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol">
                    Created On
                </th>
                <td mat-cell *matCellDef="let element"> {{getDateCellVal(element.dtCreatedOn)}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true;"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="rowClick(row)"></tr>
        </table>
    </div>
</mat-dialog-content>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
    <button mat-button (click)="onNew()">New Ticket</button>
</div>