.feContainer{
    height: 100%;
    margin: 0px auto;
}
.header{
    height: 40px;
    width: 100%;
    line-height: 35px;
    float: left;
    font-size: 15px;    
    font-weight: bold;
}
.btnField{
    padding-top: 23px;
}
.btnField button{
    width: 160px!important;
}
.mat-icon{
    height: auto;
    line-height: 16px;
    cursor: pointer;
}
.reBody{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 1px;
}

.tblColumn{
    border-collapse: collapse;
}
.tblColumn th{
    border: 1px solid #ccc;
    font-size: 10px;
}

.exAction{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    height: 25px;
    margin-bottom: 24px;
}

.curField,
.curSingleField {
    display: flex;
    flex-direction: column;
}
.curSingleField{
    width: 100%;
    margin-bottom: 24px;
}

.colButton{    
    width: 150px;
    height: 24px;
    background: none;
    box-shadow: none;
    text-align: left;
    padding: 0px;
    margin: 0px;
    color: darkgray;
}
.curField {
    width: 45%;
}
.rBody {
    height: calc(100% - 80px);
    overflow: auto;
}