<div class="tBody grayWhiteTheme">
    <app-controls [fields]="curTab.fields" [needButton]="true" [numberOfControlsInARow]="1"
        [controlValues]="controlValues" [SubmitLabel]="SubmitLabel" (onSubmit)="onSubmit($event, curTab)"
        [themeClass]="'grayWhite'"></app-controls>
</div>
<div *ngIf="isEditMode(curTab, controlValues)" class="childItems">
    <ng-container *ngFor="let tTab of curTab.childTabs; let index = index">
        <div class="tBody grayWhiteTheme">
            <div class="tableHeader">
                <h4>{{tTab.tab_name}}</h4> <button (click)="editChildTab(tTab, true)">Add New</button>
            </div>
            <div class="tables" *ngIf="childSearchFields != undefined">
                <app-table [curTab]="tTab" [searchFields]="childSearchFields[tTab.tab_name]" [refreshMe]="getChildRefreshFlag(tTab.tab_name)"
                    (rowClicked)="rowClicked($event, tTab)"></app-table>
            </div>
        </div>
    </ng-container>
</div>