<ng-container *ngIf="activeTabIndex == -1">
    <div class="tBody grayWhiteTheme">
        <app-controls [fields]="curTab.fields" [needButton]="true" [controlValues]="controlValues"
            [SubmitLabel]="SubmitLabel" (onSubmit)="onSubmit($event)" [themeClass]="'grayWhite'"></app-controls>
    </div>
    <div *ngIf="curTab.childTabs.length > 0" class="tButton">
        <button mat-raised-button class="searchButton" (click)="showTab(0);">Next</button>
    </div>
</ng-container>
<ng-container *ngFor="let tTab of curTab.childTabs; let index = index">
    <div *ngIf="activeTabIndex == index" class="tBody grayWhiteTheme">
        <app-controls [fields]="tTab.fields" [needButton]="true" [controlValues]="controlValues"
            [SubmitLabel]="SubmitLabel" (onSubmit)="onSubmit($event)" [themeClass]="'grayWhite'"></app-controls>
    </div>
    <div *ngIf="activeTabIndex == index" class="tButton">
        <button *ngIf="index < childCount - 1" mat-raised-button class="searchButton"
            (click)="showTab(activeTabIndex + 1);">Next</button>
        <button mat-raised-button class="searchButton" (click)="showTab(activeTabIndex - 1);">Prev</button>
    </div>
</ng-container>