<div [ngClass]="showAdvancedSearch ? 'AdvancedSearchPart' :'SearchPart'">
    <app-search-fields *ngIf="showAdvancedSearch && loaded" [curBrand]="_curBrand" (searchClicked)="searchClicked($event)"></app-search-fields>
    <input *ngIf="!showAdvancedSearch" matInput (keyup)="applyFilter($event)"
        placeholder="Search by Store number or Franchise or Project Manager or Project type" #input>
</div>
<div class="tablePart">
    <table mat-table *ngIf="dataSource != undefined" [dataSource]="dataSource" multiTemplateDataRows
        class="mat-elevation-z8">
        <ng-container matColumnDef="{{column.columnDef}}" *ngFor="let column of columnsToDisplay;let index = index;">
            <th mat-header-cell *matHeaderCellDef> {{column.header}} </th>
            <td mat-cell *matCellDef="let element" class="tdCell">
                <app-project-portfolio-cell
                    [request]="{jObject: element[column.columnDef], tColumn: column.columnDef, curBrand: _curBrand}"
                    (openStore)="openStoreClicked($event)"></app-project-portfolio-cell>
            </td>
        </ng-container>
        <ng-container matColumnDef="expand">
            <th mat-header-cell *matHeaderCellDef aria-label="row actions" style="width: 40px;">&nbsp;</th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button aria-label="expand row"
                    (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
                    <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
                    <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
                </button>
            </td>
        </ng-container>

        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
                <div class="elementDetails" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                    <div class="insideElement lightGray" *ngIf="element == expandedElement">
                        <h4>
                            <span>Type: <span> {{element.store.tProjectType}}</span> </span>
                            <span>Franchise Name:<span> {{element.store.tFranchise}} </span></span>
                            <span>Project Cost:<span> ${{element.store.cCost}}</span></span>
                            <button class="notesButon noBorderButton lightGray" mat-raised-button
                                (click)="ShowNotes(element);"
                                *ngIf="access.hasAccess('home.sonic.project.notes', 1)"><mat-icon>notes</mat-icon>View
                                Notes</button>
                        </h4>
                        <app-store-tech-components
                            [request]="{element: element, needEdit: true, curBrandId: _curBrand.aBrandId}"></app-store-tech-components>
                    </div>
                    <!-- <div class="example-element-description">
                    {{element.description}}
                    <span class="example-element-description-attribution"> -- Wikipedia </span>
                </div> -->
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand;sticky: true;"></tr>
        <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;" class="example-element-row"
            [class.example-expanded-row]="expandedElement === element"
            (click)="expandedElement = expandedElement === element ? null : element">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>
    <mat-paginator #paginator [length]="totalRows" [showFirstLastButtons]="true" [pageIndex]="currentPage"
        [pageSize]="pageSize" class="mat-paginator-sticky" [pageSizeOptions]="pageSizeOptions"
        (page)="pageChanged($event)" aria-label="Select page">
    </mat-paginator>
</div>