<div *ngIf="tColumn == 'store'" class="cellDiv">
    <span><span (click)="openItem(jObject.tStoreNumber)" class="clickable" matTooltip="Click to view store">{{getStoreNumber(jObject)}}-</span> {{
        jObject.tStoreDetails}}</span>
    <span>Go live:{{ getCellVal('dtGoliveDate', jObject.dtGoliveDate)}}</span>
    <span>{{ jObject.tProjectManager}}</span>
    <span>{{ jObject.tProjectType}}</span>
</div>
<div *ngIf="jObject &&  (tColumn == 'networking' || tColumn == 'pos' || tColumn == 'audio' || tColumn == 'exteriormenu' || tColumn == 'paymentsystem' || tColumn == 'interiormenu'
 || tColumn == 'sonicradio' || tColumn == 'installation')" class="cellDiv">
    <span>{{ jObject.tVendor}}</span>
    <span [className]="getDateClass(jObject.dtDate)">{{ getCellVal('dtDate', jObject.dtDate)}}</span>
    <span class="label">Install Date</span>
    <span [className]="getStatusClass(jObject.tStatus)">{{ jObject.tStatus}}</span>
    <span class="label">Install Status</span>
</div>
<div *ngIf="tColumn == 'notes'" class="cellDiv noteCell">
    <div *ngFor="let item of jObject">
        <span class="nHeader">{{ item.tNotesOwner}}</span>
        <span class="nBody">{{ item.tNotesDesc}}</span>
    </div>
</div>