<div class="header">Manage Dropdowns</div>
<div class="outerDiv grayBackground roundedCorner">
    <div class="filters">
        <mat-form-field class="dropDownField whiteDropdown">
            <mat-label>Select Brand</mat-label>
            <mat-select [(value)]="selectedBrand">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let item of allBrands" [value]="item">{{item.tBrandName}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="dropDownField whiteDropdown roundedCorner">
            <mat-label>Select a Section</mat-label>
            <mat-select [(value)]="selectedModule" (selectionChange)="moduleChanged($event)">
                <mat-option *ngFor="let module of moduleList" [value]="module">{{module}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="dropDowns">
        <mat-form-field class="DropdownChips roundedCorner vChips">
            <mat-label>Dropwdown Fields</mat-label>
            <mat-chip-grid #chipGrid aria-label="Enter Field">
                <mat-chip-row *ngFor="let item of ddList" (removed)="remove(item)" [editable]="true"
                    (edited)="edit(item, $event)" [aria-description]="'press enter to edit ' + item.tDropdownText">
                    {{item.tDropdownText}}
                    <button matChipRemove [attr.aria-label]="'remove ' + item.tDropdownText">
                        <mat-icon>cancel</mat-icon>
                    </button>
                </mat-chip-row>
                <input placeholder="New Dropdown..." [matChipInputFor]="chipGrid"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                    (matChipInputTokenEnd)="add($event)" />
            </mat-chip-grid>
        </mat-form-field>
    </div>
</div>