<h3 class="headerPart">Dashboard</h3>
<div class="tilHeader">
    <mat-form-field>
        <mat-label>Project Type</mat-label>
        <mat-select multiple>
            <!-- <mat-option value="-1">Select All</mat-option> -->
            <mat-option *ngFor="let proj of allProjectTypes" [value]="proj.aDropdownId"
                (click)="changeSelected(proj)">{{proj.tDropdownText}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="goLiveDate">
        <mat-label>GoLive Date Between</mat-label>
        <mat-date-range-input [formGroup]="campaignOne" [rangePicker]="rangePicker">
            <input matStartDate placeholder="Start date" formControlName="start">
            <input matEndDate placeholder="End date" formControlName="end">
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="rangePicker"></mat-datepicker-toggle>
        <mat-error *ngIf="campaignOne.controls['start'].hasError('matStartDateInvalid')">Invalid start date</mat-error>
        <mat-error *ngIf="campaignOne.controls['end'].hasError('matEndDateInvalid')">Invalid end date</mat-error>
        <mat-date-range-picker #rangePicker>
            <mat-date-range-picker-actions>
                <button mat-button matDateRangePickerCancel>Cancel</button>
                <button mat-raised-button color="primary" (click)="dtChanged()" matDateRangePickerApply>Apply</button>
            </mat-date-range-picker-actions>
        </mat-date-range-picker>
    </mat-form-field>
</div>
<div class="tilesPart" *ngIf="access.hasAccess('home.sonic.storehighlight', 0)">
    <app-dashboard *ngFor="let cur of projects| forFilter:filterNotChart" [record]="cur"
        (ChartClicked)="chartClicked(cur)"></app-dashboard>
    <app-dashboard-chart *ngFor="let cur of projects| forFilter:filterChart" [record]="cur"
        (ChartClicked)="chartClicked(cur)"></app-dashboard-chart>
    <!-- <mat-menu #menu="matMenu">
            <button mat-menu-item class="tMenu" (click)="filterClick('audio');">
                <span>Audio</span>
            </button>
            <button mat-menu-item class="tMenu" (click)="filterClick('pos')">
                <span>POS</span>
            </button>
            <button mat-menu-item class="tMenu" (click)="filterClick('menu');">
                <span>Menu</span>
            </button>
            <button mat-menu-item class="tMenu" (click)="filterClick('payment');">
                <span>Payment Terminal</span>
            </button>
        </mat-menu> -->
</div>