<div class="tabsBody" *ngIf="nTemplateId == -1">
    <div class="header">Quote Request Worflow Configurations</div>
    <div class="SearchPart whiteGrayTheme">
        <app-controls [themeClass]="'whiteGray'" [numberOfControlsInARow]="1" [needButton]="false"
            [fields]="searchField" [controlValues]="{}" [SubmitLabel]="'Search'" class="searchControls"></app-controls>
        <button *ngIf="access.hasAccess('home.dashboard.quoterequest', 1)" mat-raised-button class="searchButton" (click)="OpenView(0)">Create New Workflow</button>
    </div>
    <div class="tablePart">
        <div *ngFor="let item of allQuotes" class="lightGray requestTile">
            <div class="tileHeader" *ngIf="access.hasAccess('home.dashboard.quoterequest', 1)">
                <!-- <span class="titleTime" title="Cretaed on">{{getFormatedDate(item.dtCreatedOn)}}</span> -->
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Options" class="exButton">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="OpenView(item.aQuoteRequestTemplateId)">
                        <mat-icon>open_in_new</mat-icon>
                        <span>Open</span>
                    </button>
                    <button mat-menu-item (click)="deleteMe(item.aQuoteRequestTemplateId)">
                        <mat-icon>delete</mat-icon>
                        <span>Delete</span>
                    </button>                    
                </mat-menu>
            </div>
            <span class="tName" *ngIf="!access.hasAccess('home.dashboard.quoterequest', 1)">{{item.tTemplateName}}</span>
            <span class="tName" title="Click to Open" *ngIf="access.hasAccess('home.dashboard.quoterequest', 1)"
                (click)="OpenView(item.aQuoteRequestTemplateId)">{{item.tTemplateName}}</span>
        </div>
    </div>
</div>
<app-quote-request-workflow-template *ngIf="nTemplateId > -1" [nTemplateId]="nTemplateId"
    (moveBack)="moveBack($event)"></app-quote-request-workflow-template>