<h2 mat-dialog-title class="header">Support Page</h2>
<mat-dialog-content>
    <div class="sBody">
        <div class="cField">
            <label>Priority</label>
            <select class="tableField lightGray" [(ngModel)]="tRequest.nPriority">
                <option value="0">High</option>
                <option value="1">Medium</option>
                <option value="2">Low</option>
            </select>
        </div>
        <div class="cField">
            <label>Descirption</label>
            <input class="lightGray" [(ngModel)]="tRequest.tContent" />
        </div>
        <div class="cField">
            <label>Screen</label>
            <img class="img" src={{tRequest.fBase64}} alt="Image" />
        </div>
    </div>
</mat-dialog-content>
<div mat-dialog-actions class="bottom">
    <div>
        <button *ngIf="nTicketId == 0" class="lightGray aButton" cdkFocusInitial [disabled]="CantSend()" (click)="LogTicket()">Log</button>
    </div>
</div>