.tabsBody {
    width: 90%;
    height: 100%;
    margin: 0px auto;
    background-color: #fff;
}

.header {
    height: 40px;
    width: 100%;
    line-height: 35px;
    font-size: 15px;
    color: #444;
    font-weight: bold;
}

.example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
  }

.mat-icon {
    height: auto;
    line-height: 16px;
    cursor: pointer;
}

.controlPart {
    margin-top: 10px;
    border-radius: 10px;
    padding: 5%;
    width: 90%;
}

.controlPart > *:not(button){
    width: 70%;
}

.headerLabel {
    display: block;
    height: 30px;
    text-indent: 5px;
    padding: 5px;
    border-bottom: 1px solid;
    line-height: 24px;
}

.fleidLabel {}

.curField,
.compFields {
    display: flex;
    flex-direction: column;
}

.compFields {
    min-height: 200px;
}

.checkBoxFields {
    display: flex;
    flex-direction: column;
}

.compFields {
    background-color: #fff;
    border: 1px solid #444;
}

.checkboxTab{
    text-indent: 10px;
}
.fieldCheckbox{
    display: block;
}

.addButton{
    cursor: pointer;
    width: 150px;
    padding: 5px;
    margin: 10px;
    border: 1px solid;
}

.buttonClass{
    margin-top: 10px;
    float: right;
}