.folderIcon {
    color: #c8252c;
    margin-right: 5px;
}

.reportItem {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin-left: 20px;
    display: flex;
    align-items: center;
    height: 50px;
}

.expHeader {
    background-color: #f0f0f0;
}

.reportItem mat-icon {
    margin: 10px !important;
    float: left;
}

.reportItem:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.reportName {
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
}

.rTitle {
    padding: 12px 0px;
}

.reportAbout {
    display: flex;
    flex-grow: 1.5;
    padding: 12px;
    align-items: center;
}

.exButtonReport {
    padding: 0px;
}

.exButton, .exButtonReport{
    border: 0px none;
    width: 40px;
    background-color: transparent;
    cursor: pointer;
}

.exButtonReport:hover,
.exButton:hover {
    background-color: transparent;
}

.exButton {
    padding: 0px;
    margin: 0px;
}

.searchDiv {
    position: relative;
}

.searchFolder {
    width: 30%;
    height: 40px;
    border: 1px solid lightgray;
    margin: 10px 0px 10px 0px;
    text-indent: 35px;
}

.inputPrefix {
    position: absolute;
    margin-left: 10px;
    margin-top: 22px;
    color: gray;
}