.folderIcon {
    color: darkgray;
    margin-right: 5px;
}

.reportItem {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin-left: 20px;
    display: flex;
    align-items: center;
    height: 50px;
}

.expHeader {
    background-color: #f0f0f0;
}

.reportItem mat-icon {
    margin: 10px !important;
    float: left;
}

.reportItem:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.reportName {
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
}

.rTitle {
    padding: 12px 0px;
}

.reportAbout {
    display: flex;
    flex-grow: 1.5;
    padding: 12px;
    align-items: center;
}

.exButtonReport {
    padding: 0px;
}

.exButton {
    padding: 0px;
    margin: 0px;
}

.searchFolder {
    width: 100%;
    height: 40px;
    border: 0px;
    background: lightgray;
    margin: 10px 0px 10px 0px;
    text-indent: 10px;
    border-radius: 10px;
}