<div class="tabsBody" *ngIf="nTemplateId == -1">
    <div class="header">PO Worflow Configurations</div>
    <div class="SearchPart whiteGrayTheme">
        <app-controls [themeClass]="'whiteGray'" [numberOfControlsInARow]="1" [needButton]="false"
            [fields]="searchField" [controlValues]="{}" [SubmitLabel]="'Search'" class="searchControls"></app-controls>
        <button mat-raised-button class="searchButton" (click)="OpenView(0)">Create New Workflow</button>
    </div>
    <div class="tablePart">
        <div *ngFor="let item of allPO" class="lightGray requestTile" (click)="OpenView(item.aPurchaseOrderTemplateID)">
            <span>{{item.tTemplateName}}</span>
        </div>
    </div>
</div>
<app-purchase-order-workflow-template *ngIf="nTemplateId > -1" [nTemplateId]="nTemplateId"
    (moveBack)="moveBack($event)"></app-purchase-order-workflow-template>