.curField,
.curSingleField {
    display: flex;
    flex-direction: column;
}

.readOnlyField {
    flex-direction: row!important;
    height: 35px;
}

.curField {
    width: 45%;
}

.curThreeField {
    width: 30%;
}

.curSingleField {
    width: 100%;
}

.hidden {
    display: none;
}

.fieldGroup {
    font-size: 18px;
}

.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.controlButton {
    width: 100%;
    float: left;
    margin-top: 10px;
}

.buttonClass {
    float: right;
    width: 150px;
}

.readOnlyControl {
    float: right;
    width: 50%;
    overflow: hidden;
}

.readOnlyField .fleidLabel {
    float: left;
    width: 40%;
    overflow: hidden;
}