.curField {
    width: 45%;
    padding: 0px;
    margin-top: 10px;
}

.hidden{
    display: none;
}

.btn-submit{
    float: right;
    margin-right: 40%;
    margin-top: 18px;
}
.btn-search{
    margin-right: 40%;
    margin-top: 18px;
}

.form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}