<form [formGroup]="formGroup" (ngSubmit)="onSubmitClick()" class="{{'form ' + themeClass}}">
    <ng-container *ngFor="let curControl of fields; let index = index">
        <h4 *ngIf="showGroupHeader(curControl)" class="fieldGroup">{{groupLabel}}</h4>
        <div [ngClass]="getLabelClass(curControl)">
            <mat-label *ngIf="curControl.icon == undefined || curControl.icon == ''" class="fleidLabel"
                [attr.for]="curControl.field_name">{{curControl.field_name}}</mat-label>
            <span class="readOnlyControl" *ngIf="(readOnlyForm || curControl.readOnly)">{{getReadOnlyVal(curControl,
                controlValues[curControl.fieldUniqeName])}}</span>
            <mat-form-field appearance="outline" *ngIf="!(curControl.readOnly || readOnlyForm) && (curControl.field_type == 0 || curControl.field_type == 1 || curControl.field_type == 3 || curControl.field_type == 5)">
                <input matInput *ngIf="!curControl.readOnly" placeholder="{{curControl.field_placeholder}}" [type]="(curControl.field_type == 0)? 'text': (curControl.field_type == 1) ? 'email' : (curControl.field_type == 3) ? 'time' : 'number'"
                    formControlName="{{curControl.fieldUniqeName}}" [ngModel]="controlValues[curControl.fieldUniqeName]"
                    (keydown)="onKeydown($event)">
                <mat-icon *ngIf="curControl.icon != ''" matSuffix>{{curControl.icon}}</mat-icon>
                <mat-error
                    *ngIf="curControl.hidden == false && hasEror(curControl)">{{getErrorMessage(curControl)}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" *ngIf="!(curControl.readOnly || readOnlyForm) && curControl.field_type == 2">
                <input matInput [matDatepicker]="picker" placeholder="Choose a date" #pickerInput
                    [formControl]="formControls[curControl.fieldUniqeName]" />
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="formControls[curControl.fieldUniqeName].errors">{{getErrorMessage(curControl)}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline"
                *ngIf="!(curControl.readOnly || readOnlyForm) && (curControl.field_type == 6)" class="textAreaField">

                <textarea matInput *ngIf="!curControl.readOnly" placeholder="{{curControl.field_placeholder}}"
                    formControlName="{{curControl.fieldUniqeName}}" [ngModel]="controlValues[curControl.fieldUniqeName]"
                    (keydown)="onKeydown($event)"></textarea>
                <mat-icon *ngIf="curControl.icon != ''" matSuffix>{{curControl.icon}}</mat-icon>
                <mat-error
                    *ngIf="curControl.hidden == false && hasEror(curControl)">{{getErrorMessage(curControl)}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline"
                *ngIf="!(curControl.readOnly || readOnlyForm) && curControl.field_type == 4">
                <mat-select [compareWith]="compareDropDown" formControlName="{{curControl.fieldUniqeName}}"
                    [(value)]="controlValues[curControl.fieldUniqeName]">
                    <mat-option *ngFor="let opt of curControl.options"
                        [value]="opt.optionIndex">{{opt.optionDisplayName}}</mat-option>
                </mat-select>
                <mat-error
                    *ngIf="curControl.hidden == false && hasEror(curControl)">{{getErrorMessage(curControl)}}</mat-error>
            </mat-form-field>
        </div>
    </ng-container>
    <div *ngIf="needButton" class="controlButton">
        <button type="submit" mat-raised-button [disabled]="!formGroup.valid"
            [className]="SubmitLabel == 'Search' ? 'btn-primary mdc-button mdc-button--raised mat-mdc-raised-button mat-unthemed mat-mdc-button-base buttonClass' : 'buttonClass btn-primary mdc-button mdc-button--raised mat-mdc-raised-button mat-unthemed mat-mdc-button-base'">
            <mat-icon *ngIf="SubmitLabel == 'Search'">search</mat-icon>
            {{SubmitLabel}}
        </button>
        <button *ngIf="CloseLabel != undefined && CloseLabel != ''" type="button" mat-raised-button
            class="closeButtonClass btn-primary mdc-button mdc-button--raised mat-mdc-raised-button mat-unthemed mat-mdc-button-base"
            (click)="CloseClicked($event);">
            {{CloseLabel}}
        </button>
    </div>
</form>