table {
  width: 100%;
}

.header {
  height: 40px;
  width: 100%;
  line-height: 35px;
  font-size: 15px;
  font-weight: bold;
}

.header .mat-icon {
  height: auto;
  line-height: 16px;
  cursor: pointer;
}

th.mat-sort-header-sorted {
  color: black;
}

.reportHeader {
  height: 50px;
  margin-top: 10px;
}

.reportBody {
  border: 1px solid lightgray;
  border-radius: 10px;
  height: calc(100% - 75px);
  overflow: auto;
}

.exportButton{
  float: right;
  margin: 5px 20px 5px 0px;
  cursor: pointer;
}
.openItem{
  cursor: pointer;
  text-decoration: underline;
}