.tileShortcut {
    position: relative;
    cursor: pointer;
    width: 100%;
}

.tileShortcut .title {
    font-weight: 500;
    text-align: left;
    font-size: 14px;
    display: block;
    padding: 5px;
}

.tileShortcut > div{
    width: 100%;
    height: 100%;
    display: block;
}

.canvas{
    margin: 20px auto;
}