<h2 class="headerPart">{{_curBrand.tBrandName}} Homepage</h2>
<div class="searchPart">
    <app-search-store [curBrandId]="_curBrand.aBrandId" (SearchedResult)="storeSelect($event)"
        *ngIf="access.hasAccess('home.sonic.viewstore', 0)"></app-search-store>
</div>
<div class="tilHeader">
    <mat-form-field>
        <mat-label>Project Type</mat-label>
        <mat-select multiple>
            <mat-option *ngFor="let proj of allProjectTypes" [value]="proj.aDropdownId"
                (click)="changeSelected(proj)">{{proj.tDropdownText}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div class="tilesPart" *ngIf="access.hasAccess('home.sonic.storehighlight', 0)">
    <app-dashboard *ngFor="let cur of projects| forFilter:filterNotChart" [record]="cur"
        (ChartClicked)="chartClicked($event)"></app-dashboard>
    <app-dashboard-chart *ngFor="let cur of projects| forFilter:filterChart" [record]="cur"
        (ChartClicked)="chartClicked($event)"></app-dashboard-chart>
    <!-- <mat-menu #menu="matMenu">
            <button mat-menu-item class="tMenu" (click)="filterClick('audio');">
                <span>Audio</span>
            </button>
            <button mat-menu-item class="tMenu" (click)="filterClick('pos')">
                <span>POS</span>
            </button>
            <button mat-menu-item class="tMenu" (click)="filterClick('menu');">
                <span>Menu</span>
            </button>
            <button mat-menu-item class="tMenu" (click)="filterClick('payment');">
                <span>Payment Terminal</span>
            </button>
        </mat-menu> -->
</div>
<h3 class="headerPart">Store Geographical Map</h3>
<div class="mapPart">
    <iframe frameborder="0"
        src="https://maps.google.com/maps?width=100%25&height=600&hl=en&q=Sonic Drive-In, 3 Glenlake Pkwy NE, Atlanta, Georgia, 30328, United States&t=&z=14&ie=UTF8&iwloc=B&output=embed"></iframe>
</div>