<div class="leftPart floatLeft">
    <div class="chips">
        <div class="chipsHeader ib_title2 ib_text-ellipsis">Brands</div>
        <div class="chipsBody brandChip">
            <span class="brands" *ngFor="let brand of brands|forFilter:filterBrand" (click)="showBrand(brand)"
                title="{{brand.tBrandName}}">
                <img src="{{brand.tIconURL}}" />
            </span>
        </div>
    </div>
    <div class="chips" *ngIf="access.hasAccess('home.dashboard.priority', 0)">
        <div class="chipsHeader ib_title2 ib_text-ellipsis">Priorities</div>
        <div class="chipsBody whiteBG"></div>
    </div>
    <div class="chips" *ngIf="access.hasAccess('home.dashboard.goal', 0)">
        <div class="chipsHeader ib_title2 ib_text-ellipsis">Goals</div>
        <div class="chipsBody whiteBG"></div>
    </div>
</div>
<div class="rightPart floatLeft">
    <div class="chips" *ngIf="access.hasAccess('home.dashboard.notification', 0)">
        <div class="chipsHeader ib_title2 ib_text-ellipsis">Notifications <a (click)="showNotification()" class="chipButton">See all</a></div>
        <div class="chipsBody">
            <app-notification [fullView]="false" (openStore)="openStoreFromNotification($event)"></app-notification>
        </div>
    </div>
    <div class="chips" *ngIf="access.hasAccess('home.dashboard.request', 0)">
        <div class="chipsHeader ib_title2 ib_text-ellipsis">Pending Requests</div>
        <div class="chipsBody"></div>
    </div>
</div>