.cellDiv span{
    padding: 2px 4px;
    border-radius: 5px;
    font-size: 12px;
}

.label{
    font-size: 10px;
}

.nHeader{
    font-weight: bold;
    display: block;
}

.nBody{
    max-height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

.redColor{
    background-color: rgba(255,0,0,0.4);
}

.greenColor{
    background-color: rgba(0,255,0,0.4);
}

.clickable {
    text-decoration: underline;
    cursor: pointer;
    margin-top: -2px;
}

.storeDetails td{
    padding: 0px 2px 0px 4px;
    font-size: 12px;
    font-weight: 500;
}

.storeDetails th{
    text-align: center;
    text-transform: uppercase;
}

td{
    white-space: nowrap;
}

table{
    width: 100%;
}

.noteCell{
    width: 150px;
}

.labelTD{
    color: rgba(0,0,0,0.4);
    width: 100px;
}