.tileShortcut {
    position: relative;
    cursor: pointer;
}

.tileShortcut .title {
    font-weight: 500;
    text-align: left;
    font-size: 14px;
    display: block;
    padding: 5px;
}

.canvas{
    margin: 20px auto;
}