<div class="storeView">
    <div class="projectHeader">
        <mat-icon class="backIcon" (click)="moveView('dashboard')">arrow_back_ios</mat-icon>
        <h4 class="projHeader">Store - {{_curStore.tStoreNumber}}</h4>
        <button class="noBorderButton lightGray" (click)="moveView('projecttemplatelist')"
            *ngIf="access.hasAccess('home.sonic.project.workflows', 1)">Workflows</button>
        <div class="projectInfoTabs">
            <div *ngFor="let tItem of _curStore.lstProjectsInfo"
                [className]="(selectedProject.nProjectId == tItem.nProjectId)? 'storeProject selected': 'storeProject'"
                matTooltip="Click to view this projects's details">
                <div (click)="projectClick(tItem)"> {{projectTypeString(tItem.nProjectType)}} Store
                    {{getFormatedDate(tItem.dGoLiveDate)}}
                </div>
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Options" class="exButton">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="projectClick(tItem)">
                        <mat-icon>open_in_new</mat-icon>
                        <span>View Details</span>
                    </button>
                    <button mat-menu-item (click)="changeGoliveDate(tItem);"
                        *ngIf="access.hasAccess('home.sonic.project.golive', 1)">
                        <mat-icon>edit</mat-icon>
                        <span>Change Golive Date</span>
                    </button>
                </mat-menu>
            </div>
        </div>
    </div>
    <div class="storeTiles" *ngIf="allTabs.length > 0">
        <div class="fullTile">
            <h4>{{allTabs[0].tab_header}}
                <div class="right" *ngIf="canEditTab(allTabs[0])"><a (click)="editTab(allTabs[0])">Edit</a></div>
            </h4>
            <app-controls *ngIf="tValues[allTabs[0].tab_name] != undefined" class="tabForm" [request]="{fields: allTabs[0].fields, needButton: false, themeClass: 'grayWhite', numberOfControlsInARow: 1, 
controlValues: tValues[allTabs[0].tab_name], SubmitLabel: 'None',
    readOnlyForm: true, nBrandId: curBrandId}" (onSubmit)="onSubmit($event, allTabs[0])"></app-controls>
        </div>
        <div class="fullTile tileSelected">
            <h4>
                <div class="tileHeaderLeft">{{allTabs[1].tab_header}} <span class="projTypeOnTabHeader">{{ "(" +
                        projectTypeString(selectedProject.nProjectType) + ")"}}</span></div>
                <div class="right" *ngIf="access.hasAccess('home.sonic.project.' + allTabs[1].tab_name, 1)"><a
                        (click)="editTab(allTabs[1])">Edit</a></div>
            </h4>
            <app-controls *ngIf="tValues[allTabs[1].tab_name] != undefined" class="tabForm" [request]="{fields: allTabs[1].fields, needButton: false, themeClass: 'grayWhite', numberOfControlsInARow: 1, 
            controlValues: tValues[allTabs[1].tab_name], SubmitLabel: 'None',
                readOnlyForm: true, nBrandId: curBrandId}" (onSubmit)="onSubmit($event, allTabs[1])"></app-controls>
        </div>
        <div class="tileGroup">
            <div class="halfTile tileSelected">
                <h4>
                    <div class="tileHeaderLeft">{{allTabs[2].tab_header}}
                        <span class="projTypeOnTabHeader">{{ "(" +
                            projectTypeString(selectedProject.nProjectType) + ")"}} </span>
                    </div>
                    <div class="right" *ngIf="access.hasAccess('home.sonic.project.' + allTabs[2].tab_name, 1)"><a
                            (click)="editTab(allTabs[2])">Edit</a></div>
                </h4>
                <app-controls *ngIf="tValues[allTabs[2].tab_name] != undefined" class="tabForm" [request]="{fields: allTabs[2].fields, needButton: false, themeClass: 'grayWhite', numberOfControlsInARow: 1, 
            controlValues: tValues[allTabs[2].tab_name], SubmitLabel: 'None',
                readOnlyForm: true, nBrandId: curBrandId}" (onSubmit)="onSubmit($event, allTabs[2])"></app-controls>
            </div>
            <div class="tileGroup tileButtonGroup">
                <button class="noBorderButton lightGray" mat-raised-button (click)="NotImplemented();"
                    *ngIf="access.hasAccess('home.sonic.project.task', 1)"><mat-icon>event_note</mat-icon>Tasks</button>
                <button *ngIf="access.hasAccess('home.sonic.project.notes', 1)" class="noBorderButton lightGray"
                    mat-raised-button (click)="ShowNotes();"><mat-icon>
                        notes</mat-icon>Notes</button>
                <button *ngIf="access.hasAccess('home.sonic.project.activeproject', 0)" class="noBorderButton lightGray"
                    (click)="ShowProject('projectactiveview')">Active
                    Projects</button>
                <button *ngIf="access.hasAccess('home.sonic.project.historicproject', 0)"
                    class="noBorderButton lightGray" (click)="ShowProject('projecthistoricalview')">Historical
                    Projects</button>
                <button *ngIf="access.hasAccess('home.sonic.project.dailyupdate', 0)" class="noBorderButton lightGray"
                    (click)="ShowDailyUpdates()">Daily Update</button>
                <button *ngIf="access.hasAccess('home.sonic.project.signoff', 0)" class="noBorderButton lightGray"
                    (click)="ShowSignOff()">Sign Off</button>
            </div>
        </div>
    </div>
    <div class="TechAreaTitleBar">
        <h3>Technology Areas</h3>
        <div class="right">
            <a (click)="changeTileView('tabview')" [ngClass]="(viewName == 'tabview')? 'selected' : ''">Tab View</a>
            <a (click)="changeTileView('fullview')" [ngClass]="(viewName == 'fullview')? 'selected' : ''">Full Page
                View</a>
        </div>
    </div>
    <div class="TechAreaTabBar" *ngIf="tabForUI.length > 0 && viewName == 'tabview'">
        <div class="tabHeader">
            <div *ngIf="access.hasAccess('home.sonic.project.documentstab', 1)" [ngClass]="(selectedTab == -10) ? 'selectedTab lightGray' : 'lightGray'" (click)="tabClick(-10);">
                Delivery Status</div>
            <div *ngFor="let tTab of tabForUI;let index = index"
                [ngClass]="(selectedTab == index) ? 'selectedTab lightGray' : 'lightGray'" (click)="tabClick(index);">
                <span *ngIf="index != 7">
                    {{tTab.tab_header}}
                </span>
                <span class="headerLeft" *ngIf="index == 7">
                    {{tTab.tab_header}}
                </span>
                <span *ngIf="tTab.tab_name == 'Installation'" class="projTypeOnTabHeader">{{ "(" +
                    projectTypeString(selectedProject.nProjectType) + ")"}} </span>
            </div>
            <div *ngIf="access.hasAccess('home.sonic.project.documentstab', 1)" [ngClass]="(selectedTab == -11) ? 'selectedTab lightGray' : 'lightGray'" (click)="tabClick(-11);">
                Documents</div>
            <div [ngClass]="(selectedTab == -12) ? 'selectedTab lightGray' : 'lightGray'" (click)="tabClick(-12);"
                *ngIf="access.hasAccess('home.sonic.project.documentstab', 1)">
                Audits</div>
        </div>
        <div class="tabBody">
            <div class="tHeader" *ngIf="(selectedTab == -10)">
                <h4>Delivery Status</h4>
            </div>
            <div class="tHeader" *ngIf="(selectedTab == -11)">
                <h4>Documents</h4>
            </div>
            <app-delivery-status *ngIf="(selectedTab == -10)" [curStore]="_curStore"
                class="tabForm"></app-delivery-status>

            <app-documents-tab *ngIf="(selectedTab == -11)" [curStore]="_curStore" class="tabForm"></app-documents-tab>
            <app-audit-view *ngIf="(selectedTab == -12)"
                [request]="{nStoreId: _curStore.nStoreId, nBrandId: _curStore.nBrandId}"
                class="tabForm"></app-audit-view>

            <div class="tHeader" *ngIf="tabForUI[selectedTab] != undefined">
                <h4>{{tabForUI[selectedTab].tab_header}}</h4>
                <div class="right" *ngIf="canEditTab(tabForUI[selectedTab])">
                    <button class="noBorderButton white" (click)="editTab(tabForUI[selectedTab])">Edit</button>
                </div>
            </div>

            <app-controls *ngIf="canShowTab(tabForUI[selectedTab])" class="tabForm white" [request]="{fields: tabForUI[selectedTab].fields, needButton: false, themeClass: 'whiteGray', numberOfControlsInARow: 1, 
controlValues: tValues[tabForUI[selectedTab].tab_name], SubmitLabel: 'None',
    readOnlyForm: true, nBrandId: curBrandId, fieldRestrictions: fieldRestrictions[tabForUI[selectedTab].tab_name]}"
                (onSubmit)="onSubmit($event, tabForUI[selectedTab])"></app-controls>
        </div>
    </div>
    <div class="fullView" *ngIf="tabForUI.length > 0 && viewName == 'fullview'">
        <div class="fullTab lightGray" *ngFor="let tTab of tabForUI;let index = index">
            <div class="tHeader white blackBorder">
                <h4>{{tTab.tab_header}}</h4>
                <div class="right" *ngIf="access.hasAccess('home.sonic.project.' + tTab.tab_name, 1)"><button
                        class="noBorderButton white" (click)="editTab(tTab)">Edit</button></div>
            </div>
            <div class="tBody">
                <app-controls *ngIf="canShowTab(tTab)" class="tabForm" [request]="{fields: tTab.fields, needButton: false, themeClass: 'grayWhite', numberOfControlsInARow: 1, 
controlValues: tValues[tTab.tab_name], SubmitLabel: 'None',
    readOnlyForm: true, nBrandId: curBrandId, fieldRestrictions: fieldRestrictions[tTab.tab_name]}" (onSubmit)="onSubmit($event, tTab)"></app-controls>
            </div>
        </div>
    </div>
</div>