<h2 mat-dialog-title class="header">Quote Request</h2>
<div class="quoteRequest">
    <div class="quoteBody">
        <div class="mailField">
            <label>To</label>
            <input class="lightGray" [(ngModel)]="tRequest.tTo" />
        </div>
        <div class="mailField">
            <label>CC</label>
            <input class="lightGray" [(ngModel)]="tRequest.tCC" />
        </div>
        <div class="mailField">
            <label>Subject</label>
            <input class="lightGray"  [(ngModel)]="tRequest.tSubject" />
        </div>
        <div class="mailField">
            <label>Message</label>
            <div class="editor lightGray">
                <ckeditor #editor name="fieldName" [config]="ckConfig" ngDefaultControl  [(ngModel)]="tRequest.tContent"></ckeditor>
            </div>
        </div>
    </div>
</div>
<div mat-dialog-actions>
    <div class="actions">
        <button class="lightGray aButton" [disabled]="cannotSend()" cdkFocusInitial (click)="SendRequest()">Send</button>
        <button class="lightGray aButton" (click)="onCancelUserDialog()">Cancel</button>
    </div>
</div>