<div class="projectHeader">
    <mat-icon class="backIcon" (click)="goBack()">arrow_back_ios</mat-icon>
    <h4 class="projHeader">Project - New Store</h4>
</div>
<div class="tabHeader">
    <a (click)="changeTab('Active')" [ngClass]="tabName == 'Active' ? 'active' : ''">Active Projects</a>
    <a (click)="changeTab('Historical')" [ngClass]="tabName != 'Active' ? 'active' : ''">Historical Projects</a>
</div>
<div class="tabBody">
    <div class="projectView"> <app-table [curTab]="curTab" [searchFields]="null"
            (rowClicked)="rowClicked($event)" [clickCol]="'all'"></app-table></div>
</div>