<h3 class="headerPart">Advance Search</h3>
<div class="bodyPart">
    <div class="searchFields">
        <mat-form-field appearance="outline">
            <mat-label>Project Type</mat-label>
            <mat-select multiple [(ngModel)]="selectedProjects">
                <!-- <mat-option value="-1">Select All</mat-option> -->
                <mat-option *ngFor="let proj of allProjectTypes"
                    [value]="proj.aDropdownId">{{proj.tDropdownText}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="marginLeft" *ngIf="defaultCondition == ''" appearance="outline">
            <mat-label>Vendor</mat-label>
            <mat-select multiple [(ngModel)]="selectedVendors">
                <!-- <mat-option value="-1">Select All</mat-option> -->
                <mat-option *ngFor="let vendor of allVendors"
                    [value]="vendor.aDropdownId">{{vendor.tDropdownText}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="marginLeft" *ngIf="defaultCondition == ''" appearance="outline">
            <mat-label>Franchise</mat-label>
            <mat-select multiple [(ngModel)]="selectedFranchise">
                <!-- <mat-option value="-1">Select All</mat-option> -->
                <mat-option *ngFor="let franchise of allFranchise"
                    [value]="franchise.aDropdownId">{{franchise.tDropdownText}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="marginLeft" appearance="outline">
            <mat-label>City</mat-label>
            <input matInput [(ngModel)]="selectedCity">
        </mat-form-field>
        <mat-form-field class="marginLeft" appearance="outline">
            <mat-label>GoLive Date Between</mat-label>
            <mat-date-range-input [formGroup]="campaignOne" [rangePicker]="rangePicker">
                <input matStartDate placeholder="Start date" formControlName="start">
                <input matEndDate placeholder="End date" formControlName="end">
            </mat-date-range-input>
            <mat-datepicker-toggle matIconSuffix [for]="rangePicker"></mat-datepicker-toggle>
            <mat-error *ngIf="campaignOne.controls['start'].hasError('matStartDateInvalid')">Invalid start
                date</mat-error>
            <mat-error *ngIf="campaignOne.controls['end'].hasError('matEndDateInvalid')">Invalid end
                date</mat-error>
            <mat-date-range-picker #rangePicker>
                <mat-date-range-picker-actions>
                    <button mat-button matDateRangePickerCancel>Cancel</button>
                    <button mat-raised-button color="primary" matDateRangePickerApply>Apply</button>
                </mat-date-range-picker-actions>
            </mat-date-range-picker>
        </mat-form-field>
    </div>
    <div>
        <div style="float: left;"><button class="exButton" mat-raised-button matTooltip="Click to download"
                (click)="advancedResult.exportAsExcel()">Export as Excel<mat-icon>save_alt</mat-icon></button></div>
        <div style="float: right;"><button class="searchButton" mat-raised-button matTooltip="Click to search"
                (click)="getStoreTable()">Search<mat-icon>search</mat-icon></button>
            <button class="exButton" mat-raised-button matTooltip="Click to reset fields"
                (click)="resetFields()">Reset</button>
        </div>
    </div>
    <div>
        <app-advanced-search-result [reportParam]="reportParam" (openStore)="showStore($event)"
            (goBack)="moveMe($event)" #advancedResult></app-advanced-search-result>
    </div>
</div>