<div class="container">
    <div class="header">
        Dashoard
    </div>
    <div class="dBody">
        <div class="searchBar"> <mat-form-field appearance="fill" class="searchField">
                <input matInput placeholder="Search">
                <mat-icon matSuffix>search</mat-icon>
                <mat-hint>Type a name of action</mat-hint>
            </mat-form-field>
        </div>
        <div class="bodyBar">
            <span><mat-icon class="tIcon">account_box</mat-icon>Add New User</span>
            <span><mat-icon class="tIcon">dashboard</mat-icon>Add New Brand</span>
            <span><mat-icon class="tIcon">extension</mat-icon>Add New Vendor</span>
            <span><mat-icon class="tIcon">shopping_basket</mat-icon>Add Dropdown</span>
            <span><mat-icon class="tIcon">featured_play_list</mat-icon>Add New Report</span>
            <span><mat-icon class="tIcon">settings_input_component</mat-icon>Add New Technology Area</span>
            <span><mat-icon class="tIcon">settings</mat-icon>Setting</span>
            <span><mat-icon class="tIcon">account_circle</mat-icon>Add New Frenchise</span>
            <span><mat-icon class="tIcon">accessibility_new</mat-icon>Dummy</span>
        </div>
    </div>
</div>