.container{
    width: 90%;
    height: 100%;
    margin: auto;
}

.header{
    height: 40px;
    width: 100%;
    line-height: 35px;
    float: left;
    font-size: 15px;
    font-variant: small-caps;
    color: #444;
    font-weight: bold;
}
.dBody, .bodyBar{
    float: left;
    width: 100%;
    height: calc(100% - 50px);
    overflow: auto;
}

.searchBar{
    float: left;
    width: 100%;
    height: 50px;
    margin-bottom: 50px;
}

.bodyBar span{
    float: left;
    width: 150px;
    height: 100px;
    margin: 0px 20px 20px 0px;
    padding: 10px;
    border-radius: 5px;
    background-color: #E8E8E8;
    cursor: pointer;
    text-align: center;
}

.tIcon{
    font-size: 40px;
    width: auto;
    height: auto;
    display: block;
    margin-top: 18px;   
}

.searchField{
    width: 90%;
    margin: auto;
}
