<div class="leftPart floatLeft">
    <div class="chips">
        <div class="chipsHeader">Brands</div>
        <div class="chipsBody">
            <span class="brands" *ngFor="let brand of brands">
                <img src="{{brand.tIconURL}}" />
            </span>
        </div>
    </div>
    <div class="chips">
        <div class="chipsHeader">Priorities</div>
        <div class="chipsBody whiteBG"></div>
    </div>
    <div class="chips">
        <div class="chipsHeader">Goals</div>
        <div class="chipsBody whiteBG"></div>
    </div>
</div>
<div class="rightPart floatLeft">
    <div class="chips">
        <div class="chipsHeader">Notifications</div>
        <div class="chipsBody"></div>
    </div>
    <div class="chips">
        <div class="chipsHeader">Pending Requests</div>
        <div class="chipsBody"></div>
    </div>
</div>