.floatLeft {
    float: left;
}

.leftPart {
    width: 60%;
    overflow: auto;
}

.rightPart {
    width: 40%;
    overflow: auto;
}

.chipButton{
    text-decoration: underline;
    float: right;
    font-size: 15px;
    font-weight: 300;
    cursor: pointer;
}

.chips {
    min-height: 50px;
    width: calc(100% - 40px);
    padding: 10px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 3.2px 7.2px 0 var(--callout-shadow-color,rgba(0, 0, 0, .432)),0 .6px 1.8px 0 var(--callout-shadow-secondary-color,rgba(255, 0, 0, 0.108));
}

.chipsHeader {
    width: 100%;
    height: 40px;
}

.whiteBG{
    background-color: #fff;
}
.chipsBody {
    width: 100%;    
    min-height: 150px;
}

.brands{
    border-radius: 5px;
    margin: 20px;
    padding: 10px;
    display: inline-block;
    background-color: #fff;
    cursor: pointer;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    box-shadow: 1px 3.2px 7.2px 0 var(--callout-shadow-color,rgba(0, 0, 0, .432)),0 .6px 1.8px 0 var(--callout-shadow-secondary-color,rgba(0, 0, 0, 0.108));
}
.brands img{
    width: 100px;
    margin: auto;
    display: block;
}

.brandChip{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
