<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="sideNav" mode="side" opened="true">
        <div class="ConfigList">
            <span (click)="clickOption(-1)">{{tabItems[0]}}</span>
            <span (click)="clickOption(0)">{{tabItems[1]}}</span>
            <span (click)="clickOption(1)">{{tabItems[2]}}</span>
            <span (click)="clickOption(2)">{{tabItems[3]}}</span>
            <span (click)="clickOption(-2)">{{tabItems[4]}}</span>
            <span (click)="clickOption(3)">{{tabItems[5]}}</span>
            <span (click)="clickOption(4)">{{tabItems[6]}}</span>
        </div>
    </mat-drawer>
    <div class="sideNavContent">
        <span [ngClass]="drawer.opened ? 'toggleIcon opened' : 'toggleIcon'" (click)="drawer.toggle()">
            <mat-icon>play_arrow</mat-icon>
        </span>
        <app-tab-body *ngIf="tabIndex == 0" [curTab]="tabs[0]"></app-tab-body>        
        <app-tab-body *ngIf="tabIndex == 1" [curTab]="tabs[1]"></app-tab-body>
        <app-tab-body *ngIf="tabIndex == 2" [curTab]="tabs[2]"></app-tab-body>
        <app-tab-body *ngIf="tabIndex == 3" [curTab]="tabs[3]"></app-tab-body>
        <app-tab-body *ngIf="tabIndex == 4" [curTab]="tabs[4]"></app-tab-body>
        <app-admin-dashboard-shortcuts *ngIf="tabIndex == -1"></app-admin-dashboard-shortcuts>
        <app-manage-dropdowns *ngIf="tabIndex == -2"></app-manage-dropdowns>
    </div>

</mat-drawer-container>