<div class="projectHeader">
    <mat-icon class="backIcon" (click)="goBack()">arrow_back_ios</mat-icon>
    <h4 class="projHeader">Import Project</h4>
</div>
<div ngClass="{{dragAreaClass}}" DropZone (onFileDropped)="handleFileInput($event)">
    <span><mat-icon  class="uploadIcon">cloud_upload</mat-icon></span>
    <input #file type="file"
           id="file"
           (change)="handleOneFile($event)">
    <span class="msg">Drag and drop or <a (click)="file.click()">Choose file</a> to upload</span>
    <span *ngIf="fileToUpload != null" class="fileName">{{fileToUpload.name}}</span>
    <span class="fileType">CSV format only</span>
</div>