<h2 class="headerPart">Sonic Homepage</h2>
<div class="searchPart">
  <app-search-store [curBrand]="curBrand" (SearchedResult)="storeSelect($event)" *ngIf="access.hasAccess('home.sonic.viewstore', 0)"></app-search-store>    
</div>
<div class="tilesPart" *ngIf="access.hasAccess('home.sonic.storehighlight', 0)">
    <div class="tileShortcut" *ngFor="let cur of projects" (click)="showReport(cur)">
        <span class="count">{{cur.count}}</span>
        <span class="title">{{cur.title}}</span>
    </div>
</div>
<h3 class="headerPart">Store Geographical Map</h3>
<div class="mapPart">
    <iframe frameborder="0" src="https://maps.google.com/maps?width=100%25&height=600&hl=en&q=Sonic Drive-In, 3 Glenlake Pkwy NE, Atlanta, Georgia, 30328, United States&t=&z=14&ie=UTF8&iwloc=B&output=embed"></iframe>
</div>