.tabsBody{
    width: 90%;
    height: 100%;
    margin: 0px auto;
    background-color: #fff;
}
.header{
    height: 40px;
    width: 100%;
    line-height: 35px;
    float: left;
    font-size: 15px;
    font-variant: small-caps;
    color: #444;
    font-weight: bold;
}
.SearchPart{
    height: calc(30% - 90px);
    width: 100%;
    float: left;
}
.tablePart{
    height: calc(70% - 90px);
    width: 100%;
    float: left;
    overflow: auto;
}
.searchButton{
    float: right;
}