<div class="tabsBody">
  <div class="header"><mat-icon *ngIf="secondPart == 'newEdit'" class="tIcon"
      (click)="secondPart = 'table'">arrow_back_ios</mat-icon>{{ (isNew) ? 'New ' : 'Edit ' }} {{curTab.tab_header}}
  </div>
  <div class="SearchPart whiteGrayTheme" *ngIf="secondPart != 'newEdit'">
    <app-controls [request]="{fields: curTab.search_fields, needButton: false, themeClass: 'whiteGray', numberOfControlsInARow: 1, 
        controlValues: searchControlVals, SubmitLabel: SubmitLabel,
            readOnlyForm: false, nBrandId: 0}" (onSubmit)="onSubmit($event)" class="searchControls"></app-controls>
    <button mat-raised-button [ngClass]="isRollout() ? 'searchButton btnDown' : 'searchButton'" (click)="OpenNew()"
      *ngIf="access.hasAccess('home.configuration.' + curTab.tab_name, 1)">{{NewInstanceName}}</button>
  </div>
  <div class="tablePart" *ngIf="secondPart != 'newEdit'">
    <app-table *ngIf="secondPart == 'table'" [curTab]="curTab" [searchFields]="searchFields"
      (rowClicked)="rowClicked($event)" [nBrandId]="0" [refreshMe]="refreshMe"></app-table>
  </div>
  <div class="newEditPart">
    <app-new-edit-object *ngIf="showNewEdit()" [controlValues]="curControlVals" [curTab]="curTab"
      (returnBack)="returnBack($event)"></app-new-edit-object>
    <app-project-rollout-editor *ngIf="showRolloutNewEdit()"
      [request]="{curBrand:curBrand}"></app-project-rollout-editor>
  </div>
</div>