.tabsBody{
    width: 90%;
    height: 100%;
    margin: 0px auto;
    background-color: #fff;
}
.header{
    height: 40px;
    width: 100%;
    line-height: 35px;
    float: left;
    font-size: 15px;    
    color: #444;
    font-weight: bold;
}
.mat-icon{
    height: auto;
    line-height: 16px;
    cursor: pointer;
}
.SearchPart{
    height: calc(30% - 40px);
    width: 100%;
    float: left;
    overflow: auto;
}
.newEditPart{
    height: calc(100% - 40px);
    width: 100%;
    float: left;
    overflow: auto;
}
.tablePart{
    height: calc(70% - 40px);
    width: 100%;
    float: left;
    overflow: auto;
}
.searchButton{
    float: left;
    margin: 27px 15px;
}
.searchControls{
    float: left;
    width: calc(100% - 250px);
}