<div class="outer">
    <table>
        <thead>
            <th>Tech Components</th>
            <th>Vendor</th>
            <th>Status</th>
            <th>Delivery Date</th>
        </thead>
        <tbody>
            <tr *ngFor="let item of allStatus">
                <td>
                    {{item.tComponent}}
                </td>
                <td>
                    {{item.tVendor}}
                </td>
                <td>
                    {{item.tStatus}}
                </td>
                <td>
                    {{getFormateDate(item.dDeliveryDate)}}
                </td>
            </tr>
        </tbody>
    </table>
</div>