<div class="outerDiv">
    <h2 mat-dialog-title class="header">Date Change Notification</h2>
    <div class="quoteRequest" *ngIf="curStep == 1">
        <span>Select Components and Fields</span>
        <div class="notificationBody">
            <table>
                <thead>
                    <tr>
                        <th>
                            Components
                        </th>
                        <th>
                            Vendors
                        </th>
                        <th>
                            <mat-checkbox (change)="$event ? toggleAllRows() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()"
                                [aria-label]="checkboxLabel()">
                            </mat-checkbox>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of allItems" class="lightGray">
                        <td>{{item.tComponent}}</td>
                        <td>{{item.tVendor}}</td>
                        <td> <mat-checkbox class="example-margin" [(ngModel)]="item.isSelected"></mat-checkbox></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="quoteRequest" *ngIf="curStep == 2">
        <div class="notificationBody">
            <div class="mailField">
                <label>To</label>
                <input class="lightGray" [(ngModel)]="dateChangeBody.tTo" />
            </div>
            <div class="mailField">
                <label>CC</label>
                <input class="lightGray" [(ngModel)]="dateChangeBody.tCC" />
            </div>
            <div class="mailField">
                <label>Subject</label>
                <input class="lightGray" [(ngModel)]="dateChangeBody.tSubject" />
            </div>
            <div class="mailField">
                <label>Message</label>
                <div class="editor lightGray">
                    <ckeditor #editor name="fieldName" [config]="ckConfig" ngDefaultControl
                        [(ngModel)]="dateChangeBody.tContent">
                    </ckeditor>
                </div>
            </div>
        </div>
    </div>
    <div mat-dialog-actions style="padding-right: 0px;">
        <div class="actions" *ngIf="curStep == 1">
            <button class="lightGray aButton" [disabled]="cannotMove()" cdkFocusInitial
                (click)="MoveNext()">Next</button>
            <button class="lightGray aButton" (click)="onCancelUserDialog()">Cancel</button>
        </div>
        <div class="actions" *ngIf="curStep == 2">
            <button class="lightGray aButton" [disabled]="cannotSend()" cdkFocusInitial
                (click)="SendRequest()">Send</button>
            <button class="lightGray aButton" cdkFocusInitial (click)="MoveBack()">Back</button>
            <button class="lightGray aButton" (click)="onCancelUserDialog()">Cancel</button>
        </div>
    </div>
</div>