/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mdc-data-table__cell{
    position: relative;
}
.mdc-text-field--filled:not(.mdc-text-field--disabled){
    background-color: #fff!important;
}

.fullTile, .halfTile,.tabHeader > div, .tabBody, .lightGray{
    background-color: lightgray;
}
.backIcon{
    cursor: pointer;
}
.whiteGrayTheme{
    background-color: white;
}
.whiteGray input{
    color: #fff;
}
.whiteGray .mat-mdc-text-field-wrapper{
    background-color: gray;
    color: white;
    border-radius: 5px;
}
.whiteGray .mdc-floating-label--float-above{
    background-color: white;
    color: gray;
    padding: 5px;
}
.white{
    background-color: #fff;
}
.blackBorder{
    border-color: black;
}
.grayWhiteTheme{
    background-color: gray;
}
.lightGrayWhiteTheme{
    background-color: lightgrey;
}
.grayWhiteTheme .details,.grayWhiteTheme .tables,.grayWhiteTheme .tBody{
    background-color: #fff;
}
.grayWhite .mat-mdc-text-field-wrapper{
    background-color: white;
    color: gray;
    border-radius: 5px;
}
.grayWhite .mdc-floating-label--float-above{
    background-color: gray;
    color: #fff;
    padding: 5px;
}
.grayWhite .fleidLabel,.grayWhite  .fieldGroup{
    color:  black;
}
.buttonPart {
    background-color: #fff;
}
.storeStatus{
    background-color: chartreuse;
}
button{
    width: 120px;
    height: 50px;
}

.table-container{
    border-radius: 10px;
    box-shadow: none;
}

.mat-mdc-paginator{
    border-radius: 0px 0px 10px 10px;
}

.fleidLabel{
    font-weight: 900;
    word-wrap: break-word;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.mat-mdc-table{
    white-space: nowrap!important;
}

.mdc-data-table__header-cell{
    overflow: visibles!important;
}

.mat-mdc-form-field-infix{
    min-height: 40px!important;
    height: 40px!important;
    padding: 12px 0px!important;
}
.noBorderButton{
    border: 0px none;
}