.example-container {
    width: calc(100% - 2px);
    height: 100%;
}

.mat-drawer-content{
    overflow: visible;
}

.sideNavContent {
    height: 100%;
    width: 95%;
    padding-left: 5%;
    overflow: auto;
}

.sideNav {
    padding: 20px 0px;
    display: flex;
    width: 300px;
}

.menuPart button{
    width: 238px;
    margin: 0px 10%;
    display: block;
    text-align: left;
    padding: 0px;
}
.logoPart, .menuPart ,.ConfigList{
    float: left;
    width: 100%;
}

.logoPart, .menuPart{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.logoPart div{
    margin: auto;
    width: 80px;
}
.logoPart span {
    line-height: 82px;
    font-weight: 900;
    float: right;
}

.logoPart img {
    width: 80px;
}

.ConfigList > span {
    display: block;
    margin: 10px 10%;
    background-color: #fff;
    padding: 8px;
    height: 20px;
    border-radius: 5px;
    font-size: 12px;
    line-height: 18px;
    cursor: pointer;
}