*:not(.mat-icon) {
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

.outerLayout {
    float: left;
    width: 100%;
    height: 100%;
}

.floatLeft {
    float: left;
}

.left {
    width: 80px;
    height: 100%;
    background-color: gray;
}

.right {
    display: block;
    width: calc(100% - 80px);
    height: 100%;
}

.logo {
    height: 60px;
    width: 100%;
}

.header {
    height: 60px;
    width: 100%;
    overflow: hidden;
}

.mainBody {
    height: calc(100% - 60px);
    width: 100%;
    overflow: auto;
}

.toolBar {
    width: 100%;
    height: calc(100% - 60px);
}


.leftHeader {
    float: left;
    padding: 10px 0px 0px 20px;
}

.topHeaderTitle{
    font-size: 16px;
    font-weight: bold;      
    white-space: nowrap;
    text-overflow: ellipsis;
}

.header {
    background-color: #E8E8E8;
}

.rightHeader {
    float: right;
}

#header_logo{
    width: 65px;
    margin: 15px auto;
    display: block;
    color: #fff;
}

.action {
    display: block;
    width: 28px;
    border-radius: 5px;   
    background-color: #696969;
    padding: 10px;
    margin: 10px 15px;
    cursor: pointer;
}

.action .mat-icon{
    color: #fff;
    font-size: 28px;
    width: 28px;
    height: 28px;
}
