<div class="gRow">
    <label class="fleidLabel">Rollout Project</label>
    <span class="readOnlyControl">{{isRollout ? 'Yes': 'No'}}</span>
</div>
<div class="gRow">
    <label class="fleidLabel">Rollout Project Name</label>
    <span class="readOnlyControl" *ngIf="loaded">{{curGlimpse.tProjectsRolloutName}}</span>
</div>
<div class="gRow">
    <label class="fleidLabel">Go-live Date</label>
    <span class="readOnlyControl">{{getFormatedDate(curProject.dGoLiveDate)}}</span>
</div>
<div class="gRow">
    <label class="fleidLabel">Project Status</label>
    <span class="readOnlyControl" *ngIf="loaded">{{getProjectStatusString(curGlimpse.nProjectStatus)}}</span>
</div>