<h2 mat-dialog-title class="header" *ngIf="curTemplate != undefined">{{ (partNumber == 1) ? curTemplate.tTemplateName :
    "" }} Purchase Order {{ (partNumber == 1) ? " Preview" : "" }}</h2>
<div class="pageStep" *ngIf="curTemplate != undefined"><span
        [className]="(partNumber == 1) ? 'firstPg active': 'firstPg'" matTooltip="Step One">1</span><span
        [className]="(partNumber == 2) ? 'lastPg active': 'lastPg'" matTooltip="Last Step">2</span></div>
<div class="poRequest" *ngIf="partNumber == 1 && curTemplate != undefined">
    <div class="pLabel"><label>Store No</label><span>{{curTemplate.tStoreNumber}}</span></div>
    <div class="poBody">
        <div class="half">
            <h3>Billing</h3>
            <div class="mailField">
                <label>Name</label>
                <input class="lightGray" [(ngModel)]="curTemplate.tName" />
            </div>
            <div class="mailField">
                <label>Phone</label>
                <input class="lightGray" [(ngModel)]="curTemplate.tPhone" />
            </div>
            <div class="mailField">
                <label>Email</label>
                <input class="lightGray" [(ngModel)]="curTemplate.tBillToEmail" />
            </div>
            <div class="mailField">
                <label>Address</label>
                <input class="lightGray" [(ngModel)]="curTemplate.tBillToAddress" />
            </div>
        </div>
        <div class="half shipping">
            <h3>Shipping</h3>
            <div class="mailField">
                <label>Store</label>
                <input class="lightGray" [(ngModel)]="curTemplate.tStore" />
            </div>
            <div class="mailField">
                <label>Name</label>
                <input class="lightGray" [(ngModel)]="curTemplate.tName" />
            </div>
            <div class="mailField">
                <label>Address</label>
                <input class="lightGray" [(ngModel)]="curTemplate.tAddress" />
            </div>
        </div>
        <div class="mailField">
            <label>Notes</label>
            <input class="lightGray" [(ngModel)]="curTemplate.tNotes" />
        </div>
        <div class="mailField lightGray partsTable">
            <table>
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Parts Number</th>
                        <th style="width: 55px;">Price</th>
                        <th style="width: 50px;">Quantity</th>
                        <th style="width: 50px;">Total</th>
                        <th style="width: 30px;"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of curTemplate.purchaseOrderParts;let index=index">
                        <td><input class="tableInput" (input)="validate(this)" [(ngModel)]="item.tPartDesc" /></td>
                        <td><input class="tableInput" (input)="validate(this)" [(ngModel)]="item.tPartNumber" /></td>
                        <td class="dollarTD">
                            <input class="tableInput" min="0" (keypress)="onNumber($event)"
                                (input)="numberChanged(this)" type="text" [(ngModel)]="item.cPrice" />
                                <span matPrefix class="dollarTD">$&nbsp;</span>
                            </td>
                        <td><input class="tableInput" min="1" (keypress)="onNumber($event)"
                                (input)="numberChanged(this)" type="number" [(ngModel)]="item.nQuantity" /></td>
                        <td>${{item.cTotal}}</td>
                        <td><mat-icon (click)=" removePart(item, index)">cancel</mat-icon></td>
                    </tr>
                    <tr>
                        <td colspan="2" style="border-right-style:none ;">
                            <select class="tableField tableInput" (change)="addPart($event)">
                                <option>Add New Item</option>
                                <option *ngFor="let item of allParts | forFilter:filterParts" [value]="item.aPartID">
                                    {{item.tPartDesc + "-" + item.tPartNumber}}
                                </option>
                            </select>
                        </td>
                        <td colspan="4"></td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td colspan="2"><b>Total:</b><br />
                            <b>PO#:</b><br />
                            <b>Deliver#:</b>
                        </td>
                        <td colspan="2">${{curTemplate.cTotal}}<br />
                            {{curTemplate.aPurchaseOrderPreviewTeamplateID}}<br />
                            {{getFormatedDate(curTemplate.dDeliver)}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="poRequest" *ngIf="partNumber == 2">
    <div class="poBody">
        <div class="mailField">
            <label>To</label>
            <input class="lightGray" [(ngModel)]="tRequest.tTo" />
        </div>
        <div class="mailField">
            <label>CC</label>
            <input class="lightGray" [(ngModel)]="tRequest.tCC" />
        </div>
        <div class="mailField">
            <label>Subject</label>
            <input class="lightGray" [(ngModel)]="tRequest.tSubject" />
        </div>
        <div class="mailField editorField">
            <label>Message</label>
            <div class="editor">
                <ckeditor #editor name="fieldName" [config]="ckConfig" ngDefaultControl [(ngModel)]="tRequest.tContent">
                </ckeditor>
                <div style="padding: 8px 0px;">
                    <a class="pdfLink"
                        (click)="downloadPDF(tRequest.tMyFolderId, tRequest.tFileName)"><mat-icon>attach_file</mat-icon><span>{{tRequest.tFileName}}</span></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div mat-dialog-actions style="padding: 0px;height: 70px;" *ngIf="curTemplate != undefined">
    <div class="actions">
        <button class="lightGray aButton" *ngIf="partNumber == 1" [disabled]="cannotNext()" cdkFocusInitial
            (click)="GenerateMail()">Next</button>
        <button class="lightGray aButton" *ngIf="partNumber == 2" [disabled]="cannotSend()" cdkFocusInitial
            (click)="SendRequest()">Send</button>
        <button class="lightGray aButton" *ngIf="partNumber == 2" cdkFocusInitial (click)="MoveBack()">Back</button>
        <button class="lightGray aButton" mat-dialog-close (click)="onCancelUserDialog()">Cancel</button>
    </div>
</div>