<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? toggleAllRows() : null" [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
            </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="checkboxChange($event, row)"
                [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
        </td>
    </ng-container>

    <!-- <ng-container matColumnDef="nRowIndex">
        <th mat-header-cell *matHeaderCellDef> nRowIndex. </th>
        <td mat-cell *matCellDef="let element"> {{element.nRowIndex}} </td>
    </ng-container> -->
    <ng-container matColumnDef="tProjectType">
        <th mat-header-cell *matHeaderCellDef> Project Type </th>
        <td mat-cell *matCellDef="let element"> {{element.tProjectType}} </td>
    </ng-container>
    <ng-container matColumnDef="nStoreExistStatus">
        <th mat-header-cell *matHeaderCellDef> Store Exists </th>
        <td mat-cell *matCellDef="let element"> {{(element.nStoreExistStatus == 1) ? 'Update': 'Add'}} </td>
    </ng-container>
    <ng-container matColumnDef="tStoreNumber">
        <th mat-header-cell *matHeaderCellDef> Store Number </th>
        <td mat-cell *matCellDef="let element"> {{element.tStoreNumber}} </td>
    </ng-container>
    <ng-container matColumnDef="tAddress">
        <th mat-header-cell *matHeaderCellDef> Address </th>
        <td mat-cell *matCellDef="let element"> {{element.tAddress}} </td>
    </ng-container>
    <ng-container matColumnDef="tCity">
        <th mat-header-cell *matHeaderCellDef> City </th>
        <td mat-cell *matCellDef="let element"> {{element.tCity}} </td>
    </ng-container>
    <ng-container matColumnDef="tState">
        <th mat-header-cell *matHeaderCellDef> State </th>
        <td mat-cell *matCellDef="let element"> {{element.tState}} </td>
    </ng-container>
    <ng-container matColumnDef="nDMAID">
        <th mat-header-cell *matHeaderCellDef> DMA ID </th>
        <td mat-cell *matCellDef="let element"> {{element.nDMAID}} </td>
    </ng-container>
    <ng-container matColumnDef="tDMA">
        <th mat-header-cell *matHeaderCellDef> DMA </th>
        <td mat-cell *matCellDef="let element"> {{element.tDMA}} </td>
    </ng-container>
    <ng-container matColumnDef="tRED">
        <th mat-header-cell *matHeaderCellDef> RED </th>
        <td mat-cell *matCellDef="let element"> {{element.tRED}} </td>
    </ng-container>
    <ng-container matColumnDef="tCM">
        <th mat-header-cell *matHeaderCellDef> CM </th>
        <td mat-cell *matCellDef="let element"> {{element.tCM}} </td>
    </ng-container>
    <ng-container matColumnDef="tANE">
        <th mat-header-cell *matHeaderCellDef> ANE </th>
        <td mat-cell *matCellDef="let element"> {{element.tANE}} </td>
    </ng-container>
    <ng-container matColumnDef="tRVP">
        <th mat-header-cell *matHeaderCellDef> RVP </th>
        <td mat-cell *matCellDef="let element"> {{element.tRVP}} </td>
    </ng-container>
    <ng-container matColumnDef="tPrincipalPartner">
        <th mat-header-cell *matHeaderCellDef> Principal Partner </th>
        <td mat-cell *matCellDef="let element"> {{element.tPrincipalPartner}} </td>
    </ng-container>
    <ng-container matColumnDef="dStatus">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element"> {{getFormatedDate(element.dStatus)}} </td>
    </ng-container>
    <ng-container matColumnDef="dOpenStore">
        <th mat-header-cell *matHeaderCellDef> OpenStore </th>
        <td mat-cell *matCellDef="let element"> {{getFormatedDate(element.dOpenStore)}} </td>
    </ng-container>
    <ng-container matColumnDef="tProjectStatus">
        <th mat-header-cell *matHeaderCellDef> Project Status </th>
        <td mat-cell *matCellDef="let element"> {{element.tProjectStatus}} </td>
    </ng-container>
    <ng-container matColumnDef="nNumberOfTabletsPerStore" *ngIf="isBuffaloBrand">
        <th mat-header-cell *matHeaderCellDef> #Of Tablets per Store </th>
        <td mat-cell *matCellDef="let element"> {{element.nNumberOfTabletsPerStore}} </td>
    </ng-container>
    <ng-container matColumnDef="tEquipmentVendor" *ngIf="isBuffaloBrand">
        <th mat-header-cell *matHeaderCellDef> Equipment Vendor </th>
        <td mat-cell *matCellDef="let element"> {{element.tEquipmentVendor}} </td>
    </ng-container>
    <ng-container matColumnDef="dShipDate" *ngIf="isBuffaloBrand">
        <th mat-header-cell *matHeaderCellDef> Ship Date </th>
        <td mat-cell *matCellDef="let element"> {{getFormatedDate(element.dShipDate)}} </td>
    </ng-container>
    <ng-container matColumnDef="dRevisitDate" *ngIf="isBuffaloBrand">
        <th mat-header-cell *matHeaderCellDef> Revisit Date </th>
        <td mat-cell *matCellDef="let element"> {{getFormatedDate(element.dRevisitDate)}} </td>
    </ng-container>
    <ng-container matColumnDef="dInstallDate" *ngIf="isBuffaloBrand">
        <th mat-header-cell *matHeaderCellDef> Install Date </th>
        <td mat-cell *matCellDef="let element"> {{getFormatedDate(element.dInstallDate)}} </td>
    </ng-container>
    <ng-container matColumnDef="tInstallationVendor" *ngIf="isBuffaloBrand">
        <th mat-header-cell *matHeaderCellDef> Installation Vendor </th>
        <td mat-cell *matCellDef="let element"> {{element.tInstallationVendor}} </td>
    </ng-container>
    <ng-container matColumnDef="tInstallStatus" *ngIf="isBuffaloBrand">
        <th mat-header-cell *matHeaderCellDef> Install Status </th>
        <td mat-cell *matCellDef="let element"> {{element.tInstallStatus}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
    </tr>
</table>
