<div class="projectHeader">
    <mat-icon class="backIcon" (click)="goBack()">arrow_back_ios</mat-icon>
    <h4 class="projHeader">Project - {{_curStore.tStoreNumber}}</h4>
</div>
<div class="projectBody">
    <div class="templateItem">
        <h4 class="templateHeader">Notification</h4>
        <div class="templateBody">
            <div *ngFor="let item of notificationTemplates" class="lightGray templateTile" (click)="OpenNotification(item)">
                <span>{{item.tTemplateName}}</span>
            </div>
        </div>
    </div>
    <div class="templateItem">
        <h4 class="templateHeader">Quote Request</h4>
        <div class="templateBody">
            <div *ngFor="let item of quoteRequestTemplates" class="lightGray templateTile" (click)="OpenQuoteRequest(item)">
                <span>{{item.tTemplateName}}</span>
            </div>
        </div>
    </div>
    <div class="templateItem">
        <h4 class="templateHeader">Purchase Order</h4>
        <div class="templateBody">
            <div *ngFor="let item of poTemplates" class="lightGray templateTile" (click)="OpenPurchaseOrder(item)">
                <span>{{item.tTemplateName}}</span>
            </div>
        </div>
    </div>
</div>