table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid lightgray;
}

th,
td:not(.noPadding) {
    padding: 5px;
}

.rowAction {
    cursor: pointer;
}

.rowAction.del {
    color: red;
}

.rowAction.add {
    color: green;
}

input {
    width: calc(100% - 5px);
    height: 36px;
    border: 0px none;
    text-indent: 15px;
}

.inputPrefix {
    position: absolute;
    margin-left: 4px;
    margin-top: 8px;
    font-weight: 500;
    color: gray;
}

.ddOption {
    width: 300px;
}

.actionButton{
    float: right;
    margin-top: 15px;
}