.projectHeader {
    height: 55px;
    width: 95%;
    z-index: 4;
    background-color: #fff;
    margin: auto;
}

.projectBody {
    width: 100%;
    height: calc(100% - 120px);
    overflow: auto;
}

.submitButton {
    float: right;
    margin: 20px;
    position: relative;
}

.submitButton span{
    position: absolute;
    margin-top: -18px;
    width: 100%;
    text-align: center;
    color: gray;
    font-size: 12px;
    font-weight: 500;
}

.tLabel{
    float: left;
    color: gray;
    font-size: 12px;
    margin-left: 20px;
}

a {
    color: blue;
    cursor: pointer;
}

.projectHeader h4 {
    display: inline-block;
    line-height: 2px;
}

#file {
    display: none;
}

.errorUpload {    
    color: red;
}

.backIcon {
    float: left;
    margin-top: 10px;
}

.uploadDiv {
    width: 90%;
    margin: 10% auto;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
}

.fileName {
    color: cornflowerblue;
    text-decoration: underline;
}

.uploadDiv>span {
    display: block;
    min-height: 50px;
    text-align: center;
}

.uploadIcon {
    margin: auto;
    display: block;
    font-size: 50px;
    width: 50px;
    height: 50px;
}

.msg {
    font-weight: bold;
}

.fileType {
    color: gray;
}