<div class="mat-elevation-z8  table-container">
    <!-- <mat-table #table [dataSource]="dataSource" class="mat-elevation-z8 tTable" matSort #TbSortWithObject="matSort"
        (matSortChange)="announceSortChange($event)">
        <ng-container matColumnDef="select" *ngIf="needCheckBox">
            <mat-header-cell *matHeaderCellDef class="checkCell">
                <mat-checkbox (change)="$event ? toggleAllRows() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                </mat-checkbox>
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="checkboxChange($event, row)"
                    [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                </mat-checkbox>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="nStoreExistStatus" *ngIf="needCheckBox">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="checkCell">
                Store exists
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
                {{row["nStoreExistStatus"] == "1" ? 'Update' : (row["nStoreExistStatus"] == "2") ? 'Re-link' : 'Add' }}
            </mat-cell>
        </ng-container>
        <ng-container *ngFor="let column of columns;let index = index;" [matColumnDef]="column.columnDef">
            <mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="{{ column.header }}" class="allCell">{{
                column.header }}</mat-header-cell>
            <mat-cell *matCellDef="let row">
                {{ row[column.columnDef]}}
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns;sticky: true;"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns" (click)="selection.toggle(row)"></mat-row>
    </mat-table> -->
    <cdk-virtual-scroll-viewport *ngIf="items != undefined" itemSize="60" style="height: 100%;">
        <table>
            <thead class="stickyHeader">
                <tr>
                    <th *ngIf="needCheckBox">
                        <mat-checkbox (change)="$event ? toggleAllRows() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                        </mat-checkbox>
                    </th>
                    <th *ngIf="needCheckBox">Operation Type</th>
                    <th *ngFor="let col of columns" matTooltip="{{ col.header }}">{{col.header}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *cdkVirtualFor="let row of items">
                    <td *ngIf="needCheckBox">
                        <mat-checkbox (click)="$event.stopPropagation()" (change)="checkboxChange($event, row)"
                            [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                        </mat-checkbox>
                    </td>
                    <td *ngIf="needCheckBox">
                        {{row["nStoreExistStatus"] == "1" ? 'Update' : (row["nStoreExistStatus"] == "2") ? 'Re-link' :
                        'Add'}}
                    </td>
                    <td *ngFor="let col of columns">
                        {{row[col.columnDef]}}
                    </td>
                </tr>
            </tbody>
        </table>
    </cdk-virtual-scroll-viewport>
</div>