th,
td {
    border-bottom: 1px solid #ddd;
    white-space: nowrap;
    padding: 5px 0px;
}

table {
    width: 100%;
    table-layout: fixed;
}

th,
td {
    overflow: hidden;
    width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.table-container {
    height: 100%;
    overflow: auto;
}

table {
    width: auto;
}

.headerClass {
    width: auto;
    width: 100px;
}