table {
    width: 100%;
    box-shadow: none;
    white-space: nowrap;
    border: 1px solid lightgray;
    border-collapse: collapse;
}

.header {
    height: 40px;
    width: 100%;
    line-height: 35px;
    font-size: 14px;
    font-weight: bold;
}

.stickyHeader {
    position: sticky !important;
}

th {
    font-size: 14px;
    font-weight: 600;
}

td {
    font-size: 14px;
    font-weight: 400;
}

th,
td {
    height: 52px;
    text-align: left;
    padding: 0px 16px;
    outline: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.tTable {
    display: table;
    width: auto;
}

.table-container {
    height: 100%;
    overflow: auto;
}

.checkCell {
    width: 50px;
}

.allCell {
    width: 150px;
}

.tSpinner {
    position: absolute;
    z-index: 222;
    margin-top: 15%;
    margin-left: 45%;
}

.wrapper {
    min-height: 100%;
}