* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.outerLogin {
    display: flex;
    width: 100%;
    height: 100%;
}

.outerLogin>div {
    float: left;
    padding: 10px;
}

.logo {
    background-image: url("https://inspirebrands.com/wp-content/uploads/2022/12/Inspire-All-Brands.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #cccccc;
}

.loginHeader {
    float: left;
    height: 30%;
    width: 100%;
    display: flex;
    align-items: baseline;
    text-align: center;
}

.loginHeader h1 {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
}


.loginControl {
    float: left;
    width: 100%;
    display: flex;
}

.loginBox {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.01), 0 1px 2px rgba(0, 0, 0, 0.1);
    min-width: 80%;
    min-height: 80%;
    display: flex;
    align-items: center;
    margin: auto;
}

form{
    width: 100%;
}

@media only screen and (min-width: 100px) and (max-width: 900px) {

    .outerLogin {
        flex-direction: column;
    }

    .logo {
        width: 100%;
        height: 100%;
        margin: auto;
    }

    .outer {
        width: 100%;
        height: 80%;
    }

    .loginHeader h1 {
        margin-top: auto;
    }

    .loginControl {
        height: 100%;
    }
}

@media only screen and (min-width: 901px) {
    .outerLogin>div {
        height: 100%;
    }

    .outerLogin {
        flex-direction: row;
    }

    .logo {
        width: 50%;
    }

    .outer {
        width: 50%;
    }

    .loginControl {
        height: 70%;
    }
}

.curField {
    width: 90%;
    padding: 10px;
    height: 100px;
    display: flex;
    margin: auto;
}

.button {
    width: 90%;
    margin: 10px;
    display: flex;
    margin: auto;
}

input{
    background-color: #fff!important;
}