<div class="outerLogin">
    <div class="logo">

    </div>
    <div class="outer">
        <div class="loginHeader">
            <h1>Sign in to Restaurant Technology Deployment Platform</h1>
        </div>
        <div class="loginControl">
            <div class="loginBox">
                <form class="loginForm" [formGroup]="formGroup" (ngSubmit)="logMeIn()">
                    <p>
                        <mat-form-field appearance="outline" class="curField">
                            <mat-label>Enter your email</mat-label>
                            <input matInput placeholder="User Name" type="text" formControlName="UserName" required>
                            <mat-error *ngIf="hasEror('UserName')">Please Enter User Name</mat-error>
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field appearance="outline" class="curField">
                            <mat-label>Enter your password</mat-label>
                            <input matInput placeholder="Password" type="password" formControlName="Password" required>
                            <mat-error *ngIf="hasEror('Password')">Please Enter Password</mat-error>
                        </mat-form-field>
                    </p>
                    <p>
                        <button type="submit" [disabled]="hasEror('Password') || hasEror('UserName')" mat-raised-button
                            color="primary" class="button">Login</button>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>