<div class="outerLogin">
    <div class="logo" style="background-image:url('./BrandIcons/Inspire-All-Brands.jpg')">
        <!-- #CodePenChallenge: Lightness -->

        <div class="overlay"></div>

        <div class="textIcon">
            <div class="wrapper">
                <div id="D" class="letter">D</div>
                <div class="shadow">D</div>
            </div>
            <div class="wrapper">
                <div id="E" class="letter">E</div>
                <div class="shadow">E</div>
            </div>
            <div class="wrapper">
                <div id="P" class="letter">P</div>
                <div class="shadow">P</div>
            </div>
            <div class="wrapper">
                <div id="L" class="letter">L</div>
                <div class="shadow">L</div>
            </div>
            <div class="wrapper">
                <div id="O" class="letter">O</div>
                <div class="shadow">O</div>
            </div>
            <div class="wrapper">
                <div id="Y" class="letter">Y</div>
                <div class="shadow">Y</div>
            </div>
            <div class="wrapper">
                <div id="I" class="letter">I</div>
                <div class="shadow">I</div>
            </div>
            <div class="wrapper">
                <div id="T" class="letter">T</div>
                <div class="shadow">T</div>
            </div>
        </div>
    </div>
    <div class="outer">
        <div class="loginHeader">
            <h1>Sign in to Restaurant Technology Deployment Platform</h1>
        </div>
        <div class="loginControl">
            <div class="loginBox">
                <app-controls class="tabForm" *ngIf="dtField.length > 0" [request]="{fields: dtField, needButton: true, themeClass: 'grayWhite', 
                    numberOfControlsInARow: 1, controlValues: {}, SubmitLabel: 'Login',
                    readOnlyForm: false, CloseLabel: 'Forgot Password', nBrandId: 0}" (onSubmit)="logMeIn($event)"
                    (onClose)="forgotPasswordClick()"></app-controls>
            </div>
        </div>
    </div>
</div>
<app-loading style="position: fixed;left: 0%; top: 0%;height: 100%;width: 100%; z-index: 1111;"></app-loading>