<div class="outerLogin">
    <div class="logo" style="background-image:url('./BrandIcons/Inspire-All-Brands.jpg')">

    </div>
    <div class="outer">
        <div class="loginHeader">
            <h1>Sign in to Restaurant Technology Deployment Platform</h1>
        </div>
        <div class="loginControl">
            <div class="loginBox">
                <app-controls class="tabForm" *ngIf="dtField.length > 0" [request]="{fields: dtField, needButton: true, themeClass: 'grayWhite', 
                    numberOfControlsInARow: 1, controlValues: {}, SubmitLabel: 'Login',
                    readOnlyForm: false, CloseLabel: 'Forgot Password', nBrandId: 0}" (onSubmit)="logMeIn($event)"
                    (onClose)="forgotPasswordClick()"></app-controls>
            </div>
        </div>
    </div>
</div>
<app-loading style="position: fixed;left: 0%; top: 0%;height: 100%;width: 100%; z-index: 1111;"></app-loading>