<div class="storeView">
    <div class="projectHeader">
        <mat-icon class="backIcon" (click)="moveView('dashboard')">arrow_back_ios</mat-icon>
        <h4 class="projHeader">Store - {{_curStore.tStoreNumber}}</h4>
        <button class="noBorderButton lightGray" (click)="moveView('projecttemplatelist')" *ngIf="access.hasAccess('home.sonic.project.workflows', 1)">Workflows</button>
        <div class="projectInfoTabs" *ngIf="access.hasAccess('home.sonic.project.golive', 1)">
            <span class="storeStatus" *ngFor="let tItem of _curStore.lstProjectsInfo" (click)="changeGoliveDate(tItem);"
                title="Click to change Golive Date">{{projectTypeString(tItem.nProjectType)}} Store
                {{getFormatedDate(tItem.dGoLiveDate)}}</span>
        </div>
        <div class="projectInfoTabs" *ngIf="!access.hasAccess('home.sonic.project.golive', 1)">
            <span class="storeStatus" *ngFor="let tItem of _curStore.lstProjectsInfo">{{projectTypeString(tItem.nProjectType)}} Store
                {{getFormatedDate(tItem.dGoLiveDate)}}</span>
        </div>
    </div>
    <div class="storeTiles" *ngIf="allTabs.length > 0">
        <div class="fullTile">
            <h4>{{allTabs[0].tab_header}}
                <div class="right" *ngIf="access.hasAccess('home.sonic.project.' + allTabs[0].tab_name, 1)"><a (click)="editTab(allTabs[0])">Edit</a></div>
            </h4>
            <app-controls *ngIf="tValues[allTabs[0].tab_name] != undefined" class="tabForm" [numberOfControlsInARow]="1"
                [fields]="allTabs[0].fields" [readOnlyForm]="true" [needButton]="false"
                [controlValues]="tValues[allTabs[0].tab_name]" [SubmitLabel]="'None'"
                (onSubmit)="onSubmit($event, allTabs[0])" [themeClass]="'grayWhite'"></app-controls>
        </div>
        <div class="fullTile">
            <h4>{{allTabs[1].tab_header}}
                <div class="right" *ngIf="access.hasAccess('home.sonic.project.' + allTabs[1].tab_name, 1)"><a (click)="editTab(allTabs[1])">Edit</a></div>
            </h4>
            <app-controls *ngIf="tValues[allTabs[1].tab_name] != undefined" class="tabForm" [numberOfControlsInARow]="1"
                [fields]="allTabs[1].fields" [readOnlyForm]="true" [needButton]="false"
                [controlValues]="tValues[allTabs[1].tab_name]" [SubmitLabel]="'None'"
                (onSubmit)="onSubmit($event, allTabs[1])" [themeClass]="'grayWhite'"></app-controls>
        </div>
        <div class="tileGroup">
            <div class="halfTile">
                <h4>{{allTabs[2].tab_header}}
                    <div class="right" *ngIf="access.hasAccess('home.sonic.project.' + allTabs[2].tab_name, 1)"><a (click)="editTab(allTabs[2])">Edit</a></div>
                </h4>
                <app-controls *ngIf="tValues[allTabs[2].tab_name] != undefined" class="tabForm"
                    [numberOfControlsInARow]="1" [fields]="allTabs[2].fields" [readOnlyForm]="true" [needButton]="false"
                    [controlValues]="tValues[allTabs[2].tab_name]" [SubmitLabel]="'None'"
                    (onSubmit)="onSubmit($event, allTabs[2])" [themeClass]="'grayWhite'"></app-controls>
            </div>
            <div class="tileGroup tileButtonGroup">
                <button class="noBorderButton lightGray" mat-raised-button
                    (click)="ShowNotes();" *ngIf="access.hasAccess('home.sonic.project.task', 1)"><mat-icon>event_note</mat-icon>Tasks</button>
                <button *ngIf="access.hasAccess('home.sonic.project.notes', 1)" class="noBorderButton lightGray" mat-raised-button (click)="ShowNotes();"><mat-icon>
                        notes</mat-icon>Notes</button>
                <button  *ngIf="access.hasAccess('home.sonic.project.activeproject', 0)" class="noBorderButton lightGray" (click)="ShowProject('projectactiveview')">Active
                    Projects</button>
                <button *ngIf="access.hasAccess('home.sonic.project.historicproject', 1)" class="noBorderButton lightGray" (click)="ShowProject('projecthistoricalview')">Historical
                    Projects</button>
            </div>
        </div>
    </div>
    <div class="TechAreaTitleBar">
        <h3>Technology Areas</h3>
        <div class="right">
            <a (click)="changeTileView('tabview')" [ngClass]="(viewName == 'tabview')? 'selected' : ''">Tab View</a>
            <a (click)="changeTileView('fullview')" [ngClass]="(viewName == 'fullview')? 'selected' : ''">Full Page
                View</a>
        </div>
    </div>
    <div class="TechAreaTabBar" *ngIf="tabForUI.length > 0 && viewName == 'tabview'">
        <div class="tabHeader">
            <div *ngFor="let tTab of tabForUI;let index = index"
                [ngClass]="(selectedTab == index) ? 'selectedTab lightGray' : 'lightGray'" (click)="tabClick(index);">
                {{tTab.tab_header}}
            </div>
        </div>
        <div class="tabBody">
            <div class="tHeader" *ngIf="tabForUI[selectedTab] != undefined">
                <h4>{{tabForUI[selectedTab].tab_header}}</h4>
                <div class="right" *ngIf="access.hasAccess('home.sonic.project.' + tabForUI[selectedTab].tab_name, 1)"><button class="noBorderButton white"
                        (click)="editTab(tabForUI[selectedTab])">Edit</button></div>
            </div>
            <app-controls *ngIf="canShowTab(allTabs[selectedTab])" class="tabForm white" [numberOfControlsInARow]="1"
                [fields]="tabForUI[selectedTab].fields" [readOnlyForm]="true" [needButton]="false"
                [controlValues]="tValues[tabForUI[selectedTab].tab_name]" [SubmitLabel]="'None'"
                (onSubmit)="onSubmit($event, tabForUI[selectedTab])" [themeClass]="'whiteGray'"></app-controls>
        </div>
    </div>
    <div class="fullView" *ngIf="tabForUI.length > 0 && viewName == 'fullview'">
        <div class="fullTab lightGray" *ngFor="let tTab of tabForUI;let index = index">
            <div class="tHeader white blackBorder">
                <h4>{{tTab.tab_header}}</h4>
                <div class="right" *ngIf="access.hasAccess('home.sonic.project.' + tTab.tab_name, 1)"><button class="noBorderButton white" (click)="editTab(tTab)">Edit</button></div>
            </div>
            <div class="tBody">
                <app-controls *ngIf="tValues[tTab.tab_name] != undefined" class="tabForm" [numberOfControlsInARow]="1"
                    [fields]="tTab.fields" [readOnlyForm]="true" [needButton]="false"
                    [controlValues]="tValues[tTab.tab_name]" [SubmitLabel]="'None'" (onSubmit)="onSubmit($event, tTab)"
                    [themeClass]="'grayWhite'"></app-controls>
            </div>
        </div>
    </div>
</div>