<div class="container">
    <div class="header">
        Dashoard
    </div>
    <div class="dBody">
        <div class="searchBar">
            <input matInput class="searchField" placeholder="Type a name of action"/>            
            <mat-icon matSuffix class="searchIcon">search</mat-icon>
        </div>
        <div class="bodyBar">
            <span><mat-icon class="tIcon" (click)="ShortcutClick('NewUser')">account_box</mat-icon>Add New User</span>
            <span><mat-icon class="tIcon" (click)="ShortcutClick('NewBrand')">dashboard</mat-icon>Add New Brand</span>
            <span><mat-icon class="tIcon" (click)="ShortcutClick('NewVendor')">extension</mat-icon>Add New Vendor</span>
            <span><mat-icon class="tIcon" (click)="ShortcutClick('NewDropdown')">shopping_basket</mat-icon>Add Dropdown</span>
            <span><mat-icon class="tIcon" (click)="ShortcutClick('NewReport')">featured_play_list</mat-icon>Add New Report</span>
            <span><mat-icon class="tIcon" (click)="ShortcutClick('NewTechnologyArea')">settings_input_component</mat-icon>Add New Technology Area</span>
            <span><mat-icon class="tIcon" (click)="ShortcutClick('Setting')">settings</mat-icon>Setting</span>
            <span><mat-icon class="tIcon" (click)="ShortcutClick('NewFrenchise')">account_circle</mat-icon>Add New Frenchise</span>
            <span><mat-icon class="tIcon" (click)="ShortcutClick('NewDummy')">accessibility_new</mat-icon>Dummy</span>
        </div>
    </div>
</div>