tr.example-detail-row{
    height: 0px;
}

table{
    width: 100%;
    white-space: normal!important;
}

.insideHeader{
    width: 100%;
    float: left;
    height: 50px;
}

.insideBody{
    width: 100%;
    float: left;
}

.insideElement > h4 > span{
    display: inline-block;
    margin: 10px 0px 0px 10px;
    font-weight: 100;
}
.insideElement > h4 > span > span{
    font-weight: bold;
}

.insideElement > h4{
    padding: 0px;
    margin: 0px;
}