.header{
    width: 90%;
    margin: auto;
    padding: 0px;
}
.quoteRequest{
    height: calc(100% - 112px);
    width: 90%;
    margin: auto;
}
.quoteBody{
    width: 100%;
    margin-top: 20px;
    overflow: auto;
}
.actions{
    width: calc(100% - 106px);
    margin: auto;
}
.aButton{
    float: right;
    margin-left: 20px;
    border: 0px none;
    border-radius: 10px;
}
.mailField{
    float: left;
    width: 100%;
    min-height: 50px;
    margin: 10px 0px;
}

.mailField label{
    float: left;
    width: 100px;
}

.mailField input{
    width: calc(100% - 110px);
    height: 40px;
    float: left;
    border: 0px none;
}
.editor{
    width: calc(100% - 106px);
    height: 300px;
    margin-left: 100px;
}

.quillEditor{
    width: 100%;
}

input{
    text-indent: 10px;
}